
/* Table scrollbar */

.table-scroll {
    margin-left: 180px;
    overflow-x: scroll;


    /* overflow-y: visible; */
    /* border-left: solid 1px rgb(75, 90, 102); */
   
}

.fix-col {
    /*border-left: solid 1px rgb(75, 90, 102);
    border-right: solid 1px rgb(75, 90, 102);*/
    left: 20px;
    position: absolute;
    width: 50px;

}
.fix-col td:nth-child(even) {background: #f5f5f5} 
.fix-col td:nth-child(odd) {background: #FFF}

.fix-col1 {
    /*border-left: solid 1px rgb(75, 90, 102);
    border-right: solid 1px rgb(75, 90, 102);*/
    left: 70px;
    position: absolute;
    width: 130px;

}


table thead th {
	border-bottom: none!important;
}

/* fixed button add*/
.fixed-btn-add {
    position: fixed;
    top: 45%;
    right: 40%; 
}
/* boutton rond */
.cursus-btn-round{
  /*padding-bottom:12px!important;*/
  border-radius: 50%!important;
  padding-left:9px!important;
  padding-right:8px!important;
  padding-top:8px!important;
  padding-bottom:6px!important;

  background: #506CE9!important;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 999;
}


.btn-cursus{
	position: relative;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-right: 0.4rem;
	padding-left: 0.4rem;
	vertical-align: middle!important;
	text-align: center;

	height: 1.7rem;
	cursor: pointer;
	background-color: #506CE9;
	color: #fff;
	border-radius: 3px;
	font-size: 0.75rem;
	box-shadow: none;
	
}
.btn-cursus i, .btn-round-cursus i{
	font-size: 16px;
}
/*.btn-cursus:hover{
	padding: 0.3rem;
	text-align: center;
	background-color: #506CE9;
	color: #fff;
	border-radius: 3px;
	box-shadow: rgb(25,25,40);
}*/
.cursus-btn-pagination{
	border-radius: 30px!important;
	text-align: center;
	vertical-align: middle!important;
	text-align: center;
	height: 30px;
	cursor: pointer;
	/* background-color: #506CE9; */
	color: #fff;
	min-width: 30px;
	font-size: 12px;
	line-height: 30px;
	font-weight: 400;
	border: 0;
	
}

.cursus-btn-pagination-off{
	border-radius: 30px!important;
	text-align: center;
	vertical-align: middle!important;
	text-align: center;
	height: 30px;
	cursor: pointer;
	background-color: #fff;
	color: #999;
	min-width: 30px;
	font-size: 12px;
	line-height: 30px;
	font-weight: 400;
	border: 0;

	
}

.pagination-element, .pagination-element-inactive{
	margin: 1px!important;
	padding: 0 5px!important;
	cursor: pointer!important;
	color: #999;
	text-transform: uppercase;
}

.pagination-element-on{
	color: #fff!important;
}


/* no select sur l'element body  */
body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}


.classe-elt{
padding: 5px;
min-width: 120px;
margin: 5px;
border-radius: 5px;
cursor: pointer;
}

.photo{
	border-radius: 3px;
}

.etat-sante-signe{
	/*background: #87F6B1; */
	/*background: #ff0000; */
	width: 15px;
	height: 15px; 
	border-radius: 50%
}