<div class="myDashboard-personnel" style="background-color: #EEEEEE; position: absolute; top: 13%; left: 2%; width: 96%; height: 55%; z-index: 3" hidden>
	
	<div class="row dashboard-row">
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card bleu">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-user fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class="text-right dashboard-item-title">Pers. Adm.</span><br>
	        					<!-- <span class="text-center dashboard-item-description">05</span> -->
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card vert">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-school fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Pers. Ens.</span><br>
	        					<!-- <span class="text-center dashboard-item-description">05</span> -->
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card violet">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-school fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Pers. Appui</span><br>
	        					<!-- <span class="text-center dashboard-item-description">05</span> -->
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card rose">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-school fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Patenaire</span><br>
	        					<!-- <span class="text-center dashboad-item-description">05</span> -->
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>		
	</div>

	<div class="row dashboard-row" >
		<div class="col-md-3 col-sm-6">
			<div class="card card-stats my-card or">
        		<div class="card-body" >
        			<div class="row"> 
        				<div class="col-md-4 col-sm-3">
        					<span class="fas fa-layer-group fa-3x my-fas"></span>
        				</div>
        				<div class="col-md-8 col-sm-9">
        					<span class="text-right dashboard-item-title">Utilisateurs</span><br>
        					<!-- <span class="text-center dashboard-item-description">05</span> -->
        				</div>
        				     				
        			</div>
        		</div>
        	</div>	
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="card card-stats my-card rouge">
        		<div class="card-body" >
        			<div class="row"> 
        				<div class="col-md-4 col-sm-3">
        					<span class="fas fa-home fa-3x my-fas"></span>
        				</div>
        				<div class="col-md-8 col-sm-9">
        					<span class=" text-right dashboard-item-title">Groupe Util.</span><br>
        					<!-- <span class="text-center dashboard-item-description">05</span> -->
        				</div>
        				     				
        			</div>
        		</div>
        	</div>	
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="card card-stats my-card noir">
        		<div class="card-body" >
        			<div class="row"> 
        				<div class="col-md-4 col-sm-3">
        					<span class="fas fa-book fa-3x my-fas"></span>
        				</div>
        				<div class="col-md-8 col-sm-9">
        					<span class=" text-right dashboard-item-title">Droit Acces</span><br>
        					<!-- <span class="text-center dashboard-item-description">05</span> -->
        				</div>
        				     				
        			</div>
        		</div>
        	</div>	
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="card card-stats my-card bleu">
        		<div class="card-body" >
        			<div class="row"> 
        				<div class="col-md-4 col-sm-3">
        					<span class="fas fa-school fa-3x my-fas"></span>
        				</div>
        				<div class="col-md-8 col-sm-9">
        					<span class=" text-right dashboard-item-title"></span><br>
        					<!-- <span class="text-center dashboard-item-description">05</span> -->
        				</div>
        				     				
        			</div>
        		</div>
        	</div>	
		</div>
	</div>

</div>
		
		

        
