<div class="myDashboard-configuration" style="background-color: #EEEEEE; position: absolute; top: 13%; left: 2%; width: 96%; height: 55%; z-index: 3" hidden>	
	
		<div class="row dashboard-row">
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card bleu animated shake">
	        		<div class="card-body" >
	        			<div class="row">
	        			
	        				<div class="col-md-4 col-sm-3" style="display: inline">
	        					<span class="fas fa-school fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9" style="display: inline">
	        					<a href="{% url 'mainapp:liste_etablissements' %}">
	        						<span class="text-right dashboard-item-title animated shake">Etablissement</span>
	        					</a> 
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card vert">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-users-class fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<a href="{% url 'mainapp:liste_cours' %}">
	        						<span class=" text-right dashboard-item-title">Cours</span>
	        					</a>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card violet">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-users fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<a href="{% url 'mainapp:liste_reunions' %}">
	        						<span class=" text-right dashboard-item-title">Reunion</span>
	        					</a>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card rose">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="far fa-sack-dollar fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<a href="{% url 'mainapp:liste_types_paiements_eleve' %}">
	        						<span class=" text-right dashboard-item-title">Paiements</span>
	        					</a>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>		
		</div>

		<div class="row dashboard-row" >
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card or">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-file-pdf fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class="text-right dashboard-item-title">Document</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card rouge">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-lock fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Santé</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card noir">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-chalkboard-teacher  fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Personnel</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card bleu">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-user-graduate fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Importation</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
		</div>

		<div class="row dashboard-row" >
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card marron">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-users fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class="text-right dashboard-item-title">Association</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card turquoise">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-dollar fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Club</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card orange">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="far fa-futbol fa-3x"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Sport</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card olive">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-user-cog fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Utilisateurs</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
		</div>

		<div class="row dashboard-row" >
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card rose">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-bus fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class="text-right dashboard-item-title">Transport</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card rouge">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<!-- <span class="fas fa-database fa-2x my-fas"></span> -->
	        					<span class="fas fa-utensils-alt fa-3x"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Cantine</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card vert">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-wrench fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Paramètres</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card card-stats my-card or">
	        		<div class="card-body" >
	        			<div class="row"> 
	        				<div class="col-md-4 col-sm-3">
	        					<span class="fas fa-bed fa-3x my-fas"></span>
	        				</div>
	        				<div class="col-md-8 col-sm-9">
	        					<span class=" text-right dashboard-item-title">Dortoir</span>
	        				</div>
	        				     				
	        			</div>
	        		</div>
	        	</div>	
			</div>
		</div>
 
		
</div>
        
