	{% load static %}
  <div class="sidebar"  data-background-color="bleu" >
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
        data-color="azure"
        data-image="{% static 'assets/img/sidebar-bleu.png' %}"
        Tip 2: you can also add an image using data-image tag

    -->
       <!--  <img src="../assets/img/logo-small.png"> -->
       <div class="logo" style = "padding-left:30px;padding-top:5px;padding-bottom: 10px;">
          <a href="{% url 'mainapp:accueil' %}">
             <img src="/static/images/logo.png" height="50px" width="140px">
          </a>
       </div>     
       <div class="logo-mini text-center" style = "padding-left:30px;padding-top:0px; display: none">
          <a href="{% url 'mainapp:accueil' %}">
             <img src="/static/images/logo-mini.png" height="40px" width="40px">
          </a>
       </div>

      <div class="sidebar-wrapper textarea-scrollbar scrollbar-macosx" style="top: 0px">

        <div class="user logo" style="position: relative; margin: 20px auto 0; padding-left: 30px;padding-top: 0;margin-bottom: 10px ">
          <div class="photo" style="display: inline; padding-right: 5px">
            <img src="/../../media/photos/22_signe.jpeg" height="34px" width="34px" style="border-radius: 50px">
          </div>
          <div class="user-info" style="display: inline">
            <a data-toggle="collapse" href="#collapseExample" class="username collapsed" aria-expanded="false">
              <span>
                SIGNE CLAUDE
                <b class="caret"></b>
              </span>
            </a>
            <div class="collapse" id="collapseExample" style="">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> MP </span>
                    <span class="sidebar-normal"> My Profile </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> EP </span>
                    <span class="sidebar-normal"> Edit Profile </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> S </span>
                    <span class="sidebar-normal"> Settings </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
       </div>
          <ul class="nav navbar-nav nav-mobile-menu">
          </ul>

          <ul class="nav navbar-nav " style="">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'mainapp:dashboard' %}">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>

             <li class="nav-item ">
                  
                  <a class="nav-link configuration" >
                    <i class="material-icons">settings</i>
                    <p>Configuration</p>
                  </a>
                </li>

                 <li class="nav-item ">
                    <a class="nav-link personnel">
                      <i class="material-icons">person</i>
                      <p>Personnel</p>
                    </a>
                  </li>

                <li class="nav-item ">
                  <a class="nav-link apprenant" >
                    <i class="material-icons">school</i>
                    <p>Apprenants</p>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link classe">
                    <i class="material-icons">home</i>
                    <p>Classe</p>
                  </a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link emploi-du-temps" >
                    <i class="material-icons">timer</i>
                    <p>Emploi du Temps</p>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link documents" >
                    <i class="material-icons">attach_money</i>
                    <p>Finances</p>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link notes">
                    <i class="material-icons">local_hospital</i>
                    <p>Santé</p>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link finances" >
                    <i class="material-icons">security</i>
                    <p>Securité</p>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link discipline" >
                    <i class="material-icons">bubble_chart</i>
                    <p>Options</p>
                  </a>
                </li>
          </ul>
      </div>
    </div>