

<div id="menu-fixed"  class="fixed-plugin">

     <div class="dropdown show-dropdown show">

            <a href="#" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-cog fa-2x"> </i>
            </a>

            <ul class="dropdown-menu etab">

              <li class="header-title"> Sidebar Filters</li>

              <li>
                  {% include 'mainapp/layouts/_nav_menu_modifier_theme_couleur.html' %}
              </li>
              
            </ul>           

     </div> 
      
      <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
           <i class="fa fa-book-open fa-2x"> </i>
        </a>
        <ul class="dropdown-menu"> 
          <li class="header-title">Cours</li>
          <li style="width: 200px;padding-right: 0px;">
            <div><a href="{% url 'mainapp:liste_cours' %}" style="color: black;">Cours</a></div>
            <div><a href="{% url 'mainapp:parametres_cours' %}" style="color: black;">Paramètres cours</a></div>
            <div><a href="{% url 'mainapp:liste_progressions' %}" style="color: black;">Progression</a> </div>
            <div><a href="{% url 'mainapp:parametres_progression' %}" style="color: black;">Paramètres Progression</a></div>
          </li>
          
        </ul>
      </div> 
               
</div>