

<div id="menu-fixed"  class="fixed-plugin">

    <div class="dropdown show-dropdown show">

            <a href="#" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-cog fa-2x"> </i>
            </a>

            <ul class="dropdown-menu etab">

              <li class="header-title"> Sidebar Filters</li>

              <li>
                  {% include 'mainapp/layouts/_nav_menu_modifier_theme_couleur.html' %}
              </li>
              
            </ul>           

     </div>  
     
      <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
           <i class="fa fa-home fa-2x"> </i>
        </a>
        <ul class="dropdown-menu"> 
          <li class="header-title"> Sidebar Filters</li>
          <li style="width: 200px;padding-right: 0px;">
            <div><a href="{% url 'mainapp:liste_etablissements' %}" style="color: black;">Etablissement</a></div>
            <div><a href="{% url 'mainapp:liste_sous_etablissements' %}" style="color: black;">Sous Etablissement</a></div>
            <div><a href="{% url 'mainapp:liste_cycles' %}" style="color: black;">Cycles</a></div>
            <div><a href="{% url 'mainapp:liste_niveaux' %}" style="color: black;">Niveaux</a></div>
            <div><a href="{% url 'mainapp:liste_classes' %}" style="color: black;">Classes</a></div>
          </li>
          
        </ul>
      </div>      

      <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-book-open fa-2x"> </i>
            </a>
            <ul class="dropdown-menu"> 
              <li class="header-title"> Sidebar Filters</li>
              <li style="width: 200px;padding-right: 0px;">
                <div><a href="{% url 'mainapp:liste_matieres' %}" style="color: black;">Matières</a></div>
                <div>Departement</div>
              </li>
              
            </ul>
      </div>

      <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-warning fa-2x"> </i>
            </a>
            <ul class="dropdown-menu"> 
              <li class="header-title"> Sidebar Filters</li>
              <li style="width: 200px;padding-right: 0px;">
                <div><a href="{% url 'mainapp:liste_disciplines' %}" style="color: black;">Discipline</a></div>
                <div><a href="{% url 'mainapp:liste_condition_renvois' %}" style="color: black;">Condition Renvoi</a></div>
                <div><a href="{% url 'mainapp:liste_condition_succes' %}" style="color: black;">Condition Succes</a></div>
              </li>
              
            </ul>
      </div>

      <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-user-graduate fa-2x"> </i>
            </a>
            <ul class="dropdown-menu"> 
              <li class="header-title"> Sidebar Filters</li>
              <li style="width: 200px;padding-right: 0px;">
                <div><a href="{% url 'mainapp:liste_type_apprenants' %}" style="color: black;">Type Apprenant</a></div>
                <div><a href="{% url 'mainapp:liste_appellation_apprenant_formateur' %}" style="color: black;">Appellation Apprenant Formateur</a></div>
                <div>Bourse</div>
              </li>
              
            </ul>
      </div>

      <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
              <i class="far fa-calendar-alt fa-2x"></i>
            </a>
            <ul class="dropdown-menu"> 
              <li class="header-title"> Sidebar Filters</li>
              <li style="width: 200px;padding-right: 0px;">
                <div>Division Année</div>
                <div>Division journée</div>
                <div>Periode de Cours</div>
              </li>
              
            </ul>
      </div>
               
</div>