<div id="changer_theme" class="{% url 'mainapp:modifier_theme' %}" style="width: 200px;padding-right: 0px;">

    <div class="theme theme-bleu">
      <!-- datacolor²²sidebar²²theme -->
      <div class="blue²²bleu²²bleu">                              
        <span class="badge badge-blue" data-color="blue"></span>
        <span style="position: relative; top: -6px">Bleu</span>
      </div>
    </div>
    <div class="theme theme-vert">
      <!-- datacolor²²sidebar²²theme -->
      <div class="green²²vert²²vert">                              
        <span class="badge badge-green" data-color="green"></span>
        <span style="position: relative; top: -6px">Vert</span>
      </div>
    </div>                        
    <div class="theme theme-violet">
      <!-- datacolor²²sidebar²²theme -->
      <div class="violet²²violet²²violet">                              
        <span class="badge badge-purple" data-color="purple"></span>
        <span style="position: relative; top: -6px">Violet</span>
      </div>
    </div>
    <div class="theme theme-rose">
      <!-- datacolor²²sidebar²²theme -->
      <div class="rose²²rose²²rose">                              
        <span class="badge badge-rose" data-color="rose"></span>
        <span style="position: relative; top: -6px">Rose</span>
      </div>
    </div>
    <div class="theme theme-jaune">
        <!-- datacolor²²sidebar²²theme -->
        <div class="yellow²²jaune²²jaune">
          <span class="badge badge-yellow" data-color="yellow"></span>
          <span style="position: relative; top: -6px">Or</span>
        </div>
    </div>
    <div class="theme theme-turquoise">
      <!-- datacolor²²sidebar²²theme -->
        <div class="turquoise²²turquoise²²turquoise">
          <span class="badge badge-turquoise" data-color="turquoise"></span>
          <span style="position: relative; top: -6px">Turquoise</span>
        </div>  
    </div>
    <div class="theme theme-orange">
        <!-- datacolor²²sidebar²²theme -->
        <div class="orange²²orange²²orange">                            
            <span class="badge badge-orange" data-color="orange"></span>
            <span style="position: relative; top: -6px">Orange</span>
        </div>
    </div>
</div>  