<div class="pagination">
      <div class="contenu">
        {% if page_active.has_previous %}

        <button class="btn btn-white btn-sm pagination-element" id="{{ page_active.previous_page_number }}"><i class="material-icons">arrow_back</i>
        </button>

       {% else %}

        <button class="btn btn-white btn-sm pagination-element" id="" disabled><i class="material-icons">arrow_back</i>
        </button>

       {% endif %}


        {% for num_page in paginator.page_range  %}

            {% if num_page == page_active.number %}

              <button class="btn btn-sm pagination-element" id="{{ num_page }}">
                {{ num_page }}
              </button>

            {% else %}

              <button class="btn btn-sm pagination-element" id="{{ num_page }}">
                {{ num_page }}
              </button>

            {% endif %}

        {% endfor %}

       {% if page_active.has_next %}

        <button class="btn btn-white btn-sm pagination-element" id="{{ page_active.next_page_number }}"><i class="material-icons">arrow_forward</i>
        </button>

        {% else %}

        <button class="btn btn-white btn-sm pagination-element" id="" disabled><i class="material-icons">arrow_forward</i>
        </button>                                  

       {% endif %}


    </div>
  </div>