{% extends 'mainapp/layouts/base-accueil.html' %}

{% load static %}

{% block menu %} {% include 'mainapp/layouts/_nav_accueil.html' %} {% endblock %}

{% block page %}


<!-- <a href="{% url 'mainapp:creation_etudiant' %}">creer etudiant</a>
<br>
<a href="{% url 'mainapp:liste_etudiants' %}">liste etudiant</a> -->

    <div class="page-header header-filter" filter-color="black" style="width: auto!important;background-image: url({% static 'assets/img/background-accueil-1.jpg'%});">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white" >
    
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="{% url 'mainapp:accueil' %}">SCHOOL APP</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="{% url 'mainapp:accueil' %}" class="nav-link">
              <i class="material-icons">home</i> Accueil
            </a>
          </li>          
          <li class="nav-item">
            <a href="{% url 'mainapp:dashboard' %}" class="nav-link">
              <i class="material-icons">dashboard</i> Tableau de bord
            </a>
          </li>
          {% if user.is_anonymous %}
            <li class="nav-item ">
            <a href="{% url 'mainapp:login' %}" class="nav-link">
              <i class="material-icons">fingerprint</i> Connexion
            </a>
          </li>
          {% else %}
          <li class="nav-item ">
            <a href="{% url 'mainapp:logout_user' %}" class="nav-link">
              <i class="material-icons">fingerprint</i> Deconnexion
            </a>
          </li>
          {% endif %}

          {% if user.is_anonymous %}

          {% else %}
            <li class="nav-item ">
            <a href="{% url 'mainapp:verrouiller' %}" class="nav-link">
              <i class="material-icons">lock_open</i> {{ verrou }}
            </a>
          </li>
          {% endif %}
          
        </ul>
      </div>
    
  </nav>


      <footer class="footer">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
 

{% endblock %}
