  {% extends 'mainapp/layouts/base-dashbord.html' %}

  {% load i18n static %}

  {% block header %}
      
      <script src="{% static 'js/classes.js' %}"></script>

      <style type="text/css">
        
        table span:hover, tr:hover{
          cursor: pointer;
        }

    /* no select sur les elemenst th */
        th, td {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

      }

/* 
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF} */


      .box{
        width: 25%;
        float: left;
        background-color: #4CAF50;
      }
      .box-mini{
        width: 100px;
        
        position: relative;
        left: 0px;
        /*float: left;*/
        /*background-color: #4CAF50; */
      }
      .box .chart{
        position: relative;
        width: 150px;
        height: 150px;
        margin: 25px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        line-height: 150px;
      }
      .box-mini .chart-mini{
        position: relative;
        width: 30px;
        height: 30px;
        margin: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        line-height: 30px;
      }
      .box-mini .chart-mini canvas{
        position: absolute;
        top: -10px;
        left: -10px;
      }

      .box .chart canvas{
        position: absolute;
        top: 0;
        left: 0;
      }
      .box .chart h2{
        text-align: center;
        text-transform: uppercase;
      }

      @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board{
    width: 75%;
margin: 60px auto;
height: 500px;
background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}

      </style>
      


  {% endblock %}


      {% block language %}
          <form action="/i18n/setlang/" method="post">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{% url 'mainapp:liste_classes' %}" />
                  
                  <select name="language" onchange="this.form.submit()">
                    {% for lang in LANGUAGES %}
                      {% if LANGUAGE_CODE == lang.0 %}
                        <option value="{{ lang.0 }}" selected>{{ lang.1 }}</option>
                      {% elif LANGUAGE_CODE != lang.0 %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                      }
                      {% endif %}
                    {% endfor %}
                  </select>
          </form>
      {% endblock %}

{% block sidebar %}
    {% include 'mainapp/layouts/_nav_sidebar_classe.html' %}
{% endblock %}

  {% block content %}
    
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">

            <div class="card">
              
              <div class="card-body">
             
                <div class="row mt-3 mb-4">

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats" style="background-color: #fcfcde; color: #fff!important">
                          <div class="card-header  card-header-icon">
                            <div class="card-icon my-card-icon-classe {{ theme_class }}" style="padding: 0!important">
                                 <i class="fas fa-home"></i>
                            </div>
                            <p class="card-category"><small>EFFECTIF : </small>{{ nbre_eleves }}</p>
                            <h3 class="card-title">
                              <span class="maSalleDeClasse" value="{{ classe.id }}">{{ classe }}</span>
                            </h3>
                          </div>
                          <div class="card-footer">
                            <div class="stats">
                              <span class="h5 mr-5"><i class="fas fa-male fa-2x"></i> : {{ nbre_garcons }}</span>
                              <span class="h5"><i class="fas fa-female fa-2x"></i> : {{ nbre_filles }}</span>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats" style="background-color: #fcfcde">
                          <div class="card-header card-header-icon">
                            <div class="card-icon my-card-icon-classe {{ theme_class }}" style="padding: 0!important">
                                 <i class="fas fa-users-class "></i>
                            </div>
                            
                            <div class="card-category">
                                <div  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      
                                      <small> COEF : </small>{{ first_cours.coef }}
                                  </div> 

                                <div class="dropdown-menu stop-propagation" style="min-width: 5rem!important; position: absolute; left: 50px">
                                    <div class="dropdown-arrow"></div>
                                    {% for c in cours %}  
                                      <div><label class="{{ c.id }}"><span>{{ c.code_matiere }}</label></div>
                                    {% endfor %}  
                                </div>
                            </div>
                            
                            <h3 class="card-title">
                              <span class="active-cours " >{{ first_cours.code_matiere }}</span> 
                            </h3>
                            <span class="card-category">{{ first_cours.nom_matiere }}</span>

                          </div>
                          <div class="card-footer">
                            <div class="stats">
                              
                              <div class=""><i class="fas fa-chalkboard-teacher fa-2x mr-2"></i> <span>M. ZAZA </span></div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats" style="background-color: #fcfcde">
                          <div class="card-header card-header-icon">
                            <div class="card-icon my-card-icon-classe {{ theme_class }}" style="padding: 0!important">
                                 <i class="fas fa-hospital "></i>
                            </div>
                            
                            <h2 class="card-category"><small>EFFECTIF : </small>{{ nbre_eleves }}</h2>
                            <h3 class="card-title">
                              Santé des élèves
                            </h3>
                            <div class="row pb-2" style="color: #000">
                              <div class="col-md-4">
                                <div class="box-mini mx-0 px-0">
                                  <div class="chart-mini chart-mini-bon" data-percent="{{ nbre_eleves_en_sante }}">{{ nbre_eleves_en_sante }}%</div><span class="card-category">Bonne santé</span class="card-category">
                                </div>   
                              </div>
                              <div class="col-md-4" >
                                <div class="box-mini mx-0 px-0">
                                  <div class="chart-mini chart-mini-moyen" data-percent="{{ nbre_eleves_sante_fragile }}">{{ nbre_eleves_sante_fragile }}%</div><span class="card-category">Santé Fragile</span class="card-category">
                                  
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="box-mini" style="display: inline">
                                  <div class="chart-mini chart-mini-mauvais" data-percent="{{ nbre_eleves_malade }}">{{ nbre_eleves_malade }}%</div><span class="card-category" >Maladif</span class="card-category">
                                  
                                </div>
                              </div>
                              <div class="col-md-6"></div>
                            
                            
                            </div>
                          </div>
                          
                        </div>
                    </div>

                </div>

                <div class="row mb-2">

                    <div class="col-sm-12 col-md-8">
                        
                         <label>Afficher </label> 
                         <select id="nbre_element_par_page" class="form-control-sm">
                            
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="-1">Tout</option>
                          </select> 
                          <label>Elements</label> 
                        
                    </div>

                    <div class="col-sm-12 col-md-4">
                      <form action="{% url 'mainapp:recherche_eleves_salle_de_classe' %}" class="recherche_eleve" method="GET">
                        {% csrf_token %}
                          <input type="search" placeholder="Entrer votre recherche ici" class="form-control form-control-sm recherche" name="recherche" id="recherche">
                          <div id="message" ></div>
                      </form>
                      
                    </div>

                </div>
                   <div class="fixed-btn-add">
                       {% if perms.mainapp.can_add_cours or perms.mainapp.add_eleve %}
                         <button type="button" rel="tooltip" class="cursus-btn-round ajouter-eleve-link" data-toggle="modal" data-target="#modal_ajouter_eleve" >
                              <i class="material-icons" style="font-size: 30px">contact_mail</i>   
                         </button>
                       {% endif %}
                   </div>

              <div class="table-responsive">
                    <div class="table-scroll">
                      <table class="table">
                        <thead class="">
                          <tr>
                            <th scope="col" class="fix-col0 " >#
                                  
                            </th>
                            <th scope="col" class="fix-col1" ><i class="material-icons">school</i>
                                  
                            </th>
                            
                            <th scope="col" class="nom fix-col2 active" >
                                <span class="tri tri-asc">Nom
                                   <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                                       
                            </th>
                            <th scope="col" class="prenom" >
                                <span class="tri tri-asc">Prenom
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                                       
                            </th>
                            <th scope="col" class="matricule" >
                                <span class="tri tri-asc">Matricule
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                                       
                            </th>
                            <th scope="col" class="sexe" >
                                <span class="tri tri-asc">Sexe
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                                       
                            </th>
                            <th scope="col" class="date_naissance">
                                <span class="tri tri-asc">Date Naissance
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                  
                            </th>
                            <th scope="col" class="lieu_naissance">
                                <span class="tri tri-asc">Lieu Naissance
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span> 
                               
                            </th>
                            <th scope="col" class="date_entree">
                                <span class="tri tri-asc">Entrée
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span> 
                               
                            </th>
                            <th scope="col" class="redouble">
                                <span class="tri tri-asc">Redouble?
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span> 
                               
                            </th>
                            <th scope="col" class="etat_sante">
                                <span class="tri tri-asc">Santé
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span> 
                               
                            </th>
                            <!-- <th scope="col" class="text-right">Opérations
                            </th> -->

                          </tr>
                        </thead>
                        <tbody>
                           
                                {% for eleve in page_active  %}
                                <tr class="{{ eleve.id }}²²{{ eleve.nom }}²²{{ eleve.nom_prenom }}²²{{ eleve.matricule }}²²{{ eleve.sexe }}²²{{ eleve.date_naissance }}²²{{ lieu_naissance }}²²{{ date_entree }}²²{{ redouble }}">
                                  
                                  <th scope="row" class="detail-eleve-link-td fix-col0">{{ forloop.counter }}</th>
                                
                                  <td class="detail-eleve-link-td fix-col1"><img class="photo" src="/../../media/photos/22_signe.jpeg" width="30px" height="30px">
                                  </td>

                                  <td class="detail-eleve-link-td fix-col2" style="text-transform: uppercase;">
                                    {{ eleve.nom }}</td>                                    
                                      
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.prenom }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.matricule }}</td>
                                  
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.sexe }}</td>
                                  
                                  <td class="detail-eleve-link-td" style="text-transform: capitalize;">{{ eleve.date_naissance }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.lieu_naissance }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: capitalize;">{{ eleve.date_entree }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.redouble }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: capitalize;">
                                
                                    {% if eleve.etat_sante == "0" %}                                                      
                                        <div class="etat-sante-signe vert1" style=""></div>
                                    {% elif eleve.etat_sante == "1" %}                                 
                                        <div class="etat-sante-signe jaune" style=""></div>
                                    {% else %}
                                       <div class="etat-sante-signe rouge1" style=""></div>                            
                                    {% endif %}
                                
                                  </td>
                                    
                                  <!-- <td class="td-actions text-right"> 
                                  
                                      {% if perms.mainapp.can_change_eleve or perms.mainapp.change_eleve %}
                                        <button rel="tooltip" class="btn btn-link modifier-eleve-link">
                                          <i class="material-icons">edit</i>
                                        </button>
                                      {% endif %}
                                        
                                      {% if perms.mainapp.can_delete_eleve or perms.mainapp.delete_eleve %}
                                        <button class="btn btn-link supprimer-eleve-link">
                                          <i class="material-icons">insert_chart</i>
                                        </button>
                                      {% endif %}
                                        
                                        
                                       
                                          <i class="material-icons">more_horiz</i>
                                          <i class="material-icons">warning</i>
                                        
                                          <span><i class="material-icons">insert_chart</i></span>
                                          <i class="material-icons">contact_mail</i>
                                       
                                        <button class="btn btn-link supprimer-eleve-link"  style="color: #506ce9;">
                                          <i class="material-icons">warning</i>
                                        </button>
                                  
                                        
                                        
                                                                            
                                                                                       
                                  </td> 
                                                                   -->
                                </tr>

                                {% empty %}
                                  <tr>
                                    <td colspan="10" class="text-center h4">Aucun eleve(s) dans cette classe </td>
                                  </tr>
                            {% endfor %}

                        </tbody>
                        <tfoot>
                          <tr>
                            <th scope="col" class="fix-col0">#</th>
                            <th scope="col" class="fix-col1">photo</th>
                            <th scope="col" class="fix-col2">Nom</th>
                            <th scope="col" >Prenom</th>
                            <th scope="col" >Matricule</th>
                          
                            <th scope="col">Sexe</th>
                            
                            <th scope="col">Date Naissance</th>                             
                            <th scope="col">Lieu Naissance</th>                             
                            <th scope="col">Date Entrée</th>                             
                            <th scope="col">Redouble</th>                             
                            <th scope="col">Santé</th>                             
                            <!-- <th scope="col">Actions</th> -->                              
                          
                          </tr>
                        </tfoot>
                  
                    </table>
                    </div>

              </div>      
      
                       {% block pagination %}
                          {% include 'mainapp/layouts/_pagination.html' %}
                      {% endblock %}
                          
                  
                  
              </div>

            </div>



          </div>
        </div>
      </div>


        <!-- Detail-Dialog box -->
      <div class="modal fade" id="modal_detail_eleve" tabindex="-1" role="">
          <div class="modal-dialog" role="document">
              <div class="modal-content card card-nav-tabs">
                  <div class=" card-nav-tabs card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">library_books</i></div>          
                  </div>

                  <div class="modal-body ">
                      <div class="card-body card-primary">
                        <p class="h4 text-center">DETAIL eleve</p>
                        <form method="post"  class="detail_eleve" action=" ">
                            {% csrf_token %}
                            {{ form.as_p }}

                              <div class="text-center">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Quitter</button>
                             </div>

                        </form>

                      </div>
                      
                  </div>
                     
              </div>
          </div>
      </div>
      
      <!--Modal: Login with Avatar Form-->
<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-lg" role="document">
    <!--Content-->
<!--     <div class="modal-content">

  Header
  <div class="modal-header">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive">
  </div>
  Body
  <div class="modal-body text-center mb-1">

    <h5 class="mt-1 mb-2">Maria Doe</h5>

    <div class="md-form ml-0 mr-0">
      <input type="password" type="text" id="form29" class="form-control form-control-sm validate ml-0">
      <label data-error="wrong" data-success="right" for="form29" class="ml-0">Enter password</label>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-cyan mt-1">Login <i class="fas fa-sign-in ml-1"></i></button>
    </div>
  </div>

</div> -->
    <div class="modal-content">

       <div class="modal-body">
             <section style="background:#efefe9;">
        <div class="container">
                <div class="row">
                    <div class="board">
                        <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                        <div class="board-inner">
                        <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                         <li class="active">
                         <a href="#home" data-toggle="tab" title="welcome">
                          <span class="round-tabs one">
                                  <i class="glyphicon glyphicon-home"></i>
                          </span> 
                      </a></li>

                      <li><a href="#profile" data-toggle="tab" title="profile">
                         <span class="round-tabs two">
                             <i class="glyphicon glyphicon-user"></i>
                         </span> 
               </a>
                     </li>
                     <li><a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                         <span class="round-tabs three">
                              <i class="glyphicon glyphicon-gift"></i>
                         </span> </a>
                         </li>

                         <li><a href="#settings" data-toggle="tab" title="blah blah">
                             <span class="round-tabs four">
                                  <i class="glyphicon glyphicon-comment"></i>
                             </span> 
                         </a></li>

                         <li><a href="#doner" data-toggle="tab" title="completed">
                             <span class="round-tabs five">
                                  <i class="glyphicon glyphicon-ok"></i>
                             </span> </a>
                         </li>
                         
                         </ul></div>

                         <div class="tab-content">
                          <div class="tab-pane fade in active" id="home">

                              <h3 class="head text-center">Welcome to Bootsnipp<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
                              <p class="narrow text-center">
                                  Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                              </p>
                              
                              <p class="text-center">
                        <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                          </div>
                          <div class="tab-pane fade" id="profile">
                              <h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
                              <p class="narrow text-center">
                                  Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                              </p>
                              
                              <p class="text-center">
                        <a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                              
                          </div>
                          <div class="tab-pane fade" id="messages">
                              <h3 class="head text-center">Bootsnipp goodies</h3>
                              <p class="narrow text-center">
                                  Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                              </p>
                              
                              <p class="text-center">
                        <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                          </div>
                          <div class="tab-pane fade" id="settings">
                              <h3 class="head text-center">Drop comments!</h3>
                              <p class="narrow text-center">
                                  Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                              </p>
                              
                              <p class="text-center">
                        <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                          </div>
                          <div class="tab-pane fade" id="doner">
              <div class="text-center">
                  <i class="img-intro icon-checkmark-circle"></i>
              </div>
              <h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
              <p class="narrow text-center">
                Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
              </p>
              </div>
              </div>

              </div>
              </div>
        </div>
    </section>
       </div>
          

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modalLoginAvatar">Launch
    Modal Login with Avatar</a>
</div>


        <!-- dialog box ajouter eleve  -->
      <div class="modal fade" id="modal_ajouter_eleve" tabindex="-1" role="">
          <div class="modal-dialog" role="document">
              <div class="modal-content card card-nav-tabs">
                  <div class=" card-nav-tabs card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">library_books</i></div>          
                  </div>
                      <div class="modal-body ">
                        <div class="card-body">
                          <p class="h4 text-center">AJOUTER eleve</p>
                          <form method="post"  class="" action="{% url 'mainapp:creation_eleve' %}">
                              {% csrf_token %}
                              {{ form.as_p }}

                               <label id="message"></label>
                              <div class="text-center">
                                  <button type="submit" class="btn">Créer</button>
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                               </div>
                          </form>

                        </div>
                        
                    </div>
         
              </div>
          </div>
      </div>





        <!-- markup -->
        <button class="btn btn-fill" onclick='swal({ title:"Good job!", text: "You clicked the button!", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'>Try me!</button>
            <!-- for more actions that you can use onclick, please check out assets/demo/js/demo.js -->

      <button class="btn btn-fill" onclick="demo.showSwal('auto-close')">Try me!<div class="ripple-container"></div></button>

<section style="background:#efefe9;">
    <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li class="active">
                     <a href="#home" data-toggle="tab" title="welcome">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span> 
                  </a></li>

                  <li><a href="#profile" data-toggle="tab" title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span> 
           </a>
                 </li>
                 <li><a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                     </li>

                     <li><a href="#settings" data-toggle="tab" title="blah blah">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-comment"></i>
                         </span> 
                     </a></li>

                     <li><a href="#doner" data-toggle="tab" title="completed">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-ok"></i>
                         </span> </a>
                     </li>
                     
                     </ul></div>

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="home">

                          <h3 class="head text-center">Welcome to Bootsnipp<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
                          <p class="narrow text-center">
                              Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                          </p>
                          
                          <p class="text-center">
                    <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
                      </div>
                      <div class="tab-pane fade" id="profile">
                          <h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
                          <p class="narrow text-center">
                              Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                          </p>
                          
                          <p class="text-center">
                    <a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
                          
                      </div>
                      <div class="tab-pane fade" id="messages">
                          <h3 class="head text-center">Bootsnipp goodies</h3>
                          <p class="narrow text-center">
                              Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                          </p>
                          
                          <p class="text-center">
                    <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
                      </div>
                      <div class="tab-pane fade" id="settings">
                          <h3 class="head text-center">Drop comments!</h3>
                          <p class="narrow text-center">
                              Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                          </p>
                          
                          <p class="text-center">
                    <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
                      </div>
                      <div class="tab-pane fade" id="doner">
          <div class="text-center">
              <i class="img-intro icon-checkmark-circle"></i>
          </div>
          <h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
          <p class="narrow text-center">
            Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
          </p>
          </div>
          </div>

          </div>
          </div>
    </div>
</section>

  

  {% endblock %}

{% block menu_fixed %}    
    {% include 'mainapp/layouts/_nav_toolbar_classe.html' %}
{% endblock %}


  {% block script_page %}

  <script src="{% static 'assets/js/core/jquery.easypiechart.js' %}"></script>
  <script>
    $(function(){
      $(".chart").easyPieChart({
          size: 150,
          barColor:'#17d3e6',
          scaleColor: false,
          lineWidth: 15,
          trackColor: '#373737',
          lineCap: 'circle',
          animate: 3500,
      });
    });

    $(function(){
      $(".chart-mini-bon").easyPieChart({
          size: 50,
          barColor:'#00FF00',
          scaleColor: false,
          lineWidth: 7,
          trackColor: '#fff',
          lineCap: 'circle',
          animate: 3500,
      });
    });

    $(function(){
      $(".chart-mini-moyen").easyPieChart({
          size: 50,
          barColor:'#FFDA00',
          scaleColor: false,
          lineWidth: 7,
          trackColor: '#fff000',
          lineCap: 'circle',
          animate: 3500,
      });
    });

    $(function(){
      $(".chart-mini-mauvais").easyPieChart({
          size: 50,
          barColor:'#f00',
          scaleColor: false,
          lineWidth: 7,
          trackColor: '#fff',
          lineCap: 'circle',
          animate: 3500,
      });
    });

  </script>
  {% endblock %}