  {% extends 'mainapp/layouts/base-dashbord.html' %}

  {% load i18n static %}

  {% block header %}
      
      <script src="{% static 'js/classes.js' %}"></script>

      <style type="text/css">
        
        table span:hover, tr:hover{
          cursor: pointer;
        }

    /* no select sur les elemenst th */
        th, td {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

      }

/* 
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF} */


      .box{
        width: 25%;
        float: left;
        background-color: #4CAF50;
      }
      .box-mini{
        width: 100px;
        
        position: relative;
        left: 0px;
        /*float: left;*/
        /*background-color: #4CAF50; */
      }
      .box .chart{
        position: relative;
        width: 150px;
        height: 150px;
        margin: 25px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        line-height: 150px;
      }
      .box-mini .chart-mini{
        position: relative;
        width: 30px;
        height: 30px;
        margin: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        line-height: 30px;
      }
      .box-mini .chart-mini canvas{
        position: absolute;
        top: -10px;
        left: -10px;
      }

      .box .chart canvas{
        position: absolute;
        top: 0;
        left: 0;
      }
      .box .chart h2{
        text-align: center;
        text-transform: uppercase;
      }

/* Table scrollbar */

.table-scroll {
    margin-left: 190px;
    overflow-x: scroll;
   
}

.fix-col0 {
    left:20px;
    position: absolute;
    width: 45px;
    text-align: center;
    padding: 12px!important;
    vertical-align: middle;
  overflow-wrap: break-word;
}

.fix-col1 {

    left: 50px;
    position: absolute;
    width: 60px;
    padding: 12px!important;
  
    text-align: center;

    vertical-align: middle;
    overflow-wrap: break-word;
  
}
.fix-col2 {

    left: 90px;
    position: absolute;
    width: 120px;
    padding: 12px!important;
    margin-bottom: 10px!important;
    vertical-align: middle;
    overflow-wrap: break-word;
  
}


table thead th {
  border-bottom: none!important;
  padding: 12px!important;

}


  /* test */

    </style>
      


  {% endblock %}


      {% block language %}
          <form action="/i18n/setlang/" method="post">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{% url 'mainapp:liste_classes' %}" />
                  
                  <select name="language" onchange="this.form.submit()">
                    {% for lang in LANGUAGES %}
                      {% if LANGUAGE_CODE == lang.0 %}
                        <option value="{{ lang.0 }}" selected>{{ lang.1 }}</option>
                      {% elif LANGUAGE_CODE != lang.0 %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                      }
                      {% endif %}
                    {% endfor %}
                  </select>
          </form>
      {% endblock %}

{% block sidebar %}
    {% include 'mainapp/layouts/_nav_sidebar_classe.html' %}
{% endblock %}

  {% block content %}
    
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">

            <div class="card">
              
              <div class="card-body">
             
                <div class="row mt-3 mb-4">

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats" style="background-color: #fcfcde; color: #fff!important">
                          <div class="card-header  card-header-icon">
                            <div class="card-icon my-card-icon-classe {{ theme_class }}" style="padding: 0!important">
                                 <i class="fas fa-home"></i>
                            </div>
                            <p class="card-category"><small>EFFECTIF : </small>{{ nbre_eleves }}</p>
                            <h3 class="card-title">
                              <span class="maSalleDeClasse" value="{{ classe.id }}">{{ classe }}</span>
                            </h3>
                          </div>
                          <div class="card-footer">
                            <div class="stats">
                              <span class="h5 mr-5"><i class="fas fa-male fa-2x"></i> : {{ nbre_garcons }}</span>
                              <span class="h5"><i class="fas fa-female fa-2x"></i> : {{ nbre_filles }}</span>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats" style="background-color: #fcfcde">
                          <div class="card-header card-header-icon">
                            <div class="card-icon my-card-icon-classe {{ theme_class }}" style="padding: 0!important">
                                 <i class="fas fa-users-class "></i>
                            </div>
                            
                            <div class="card-category">
                                <div  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      
                                      <small> COEF : </small>{{ first_cours.coef }}
                                  </div> 

                                <div class="dropdown-menu stop-propagation" style="min-width: 5rem!important; position: absolute; left: 50px">
                                    <div class="dropdown-arrow"></div>
                                    {% for c in cours %}  
                                      <div><label class="{{ c.id }}"><span>{{ c.code_matiere }}</label></div>
                                    {% endfor %}  
                                </div>
                            </div>
                            
                            <h3 class="card-title">
                              <span class="active-cours " >{{ first_cours.code_matiere }}</span> 
                            </h3>
                            <span class="card-category">{{ first_cours.nom_matiere }}</span>

                          </div>
                          <div class="card-footer">
                            <div class="stats">
                              
                              <div class=""><i class="fas fa-chalkboard-teacher fa-2x mr-2"></i> <span>M. ZAZA </span></div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats" style="background-color: #fcfcde">
                          <div class="card-header card-header-icon">
                            <div class="card-icon my-card-icon-classe {{ theme_class }}" style="padding: 0!important">
                                 <i class="fas fa-hospital "></i>
                            </div>
                            
                            <h2 class="card-category"><small>EFFECTIF : </small>{{ nbre_eleves }}</h2>
                            <h3 class="card-title">
                              Santé des élèves
                            </h3>
                            <div class="row pb-2" style="color: #000">
                              <div class="col-md-4">
                                <div class="box-mini mx-0 px-0">
                                  <div class="chart-mini chart-mini-bon" data-percent="{{ nbre_eleves_en_sante }}">{{ nbre_eleves_en_sante }}%</div><span class="card-category">Bonne santé</span class="card-category">
                                </div>   
                              </div>
                              <div class="col-md-4" >
                                <div class="box-mini mx-0 px-0">
                                  <div class="chart-mini chart-mini-moyen" data-percent="{{ nbre_eleves_sante_fragile }}">{{ nbre_eleves_sante_fragile }}%</div><span class="card-category">Santé Fragile</span class="card-category">
                                  
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="box-mini" style="display: inline">
                                  <div class="chart-mini chart-mini-mauvais" data-percent="{{ nbre_eleves_malade }}">{{ nbre_eleves_malade }}%</div><span class="card-category" >Maladif</span class="card-category">
                                  
                                </div>
                              </div>
                              <div class="col-md-6"></div>
                            
                            
                            </div>
                          </div>
                          
                        </div>
                    </div>

                </div>

                <div class="row mb-2">

                    <div class="col-sm-12 col-md-8">
                        
                         <label>Afficher </label> 
                         <select id="nbre_element_par_page" class="form-control-sm">
                            
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="-1">Tout</option>
                          </select> 
                          <label>Elements</label> 
                        
                    </div>

                    <div class="col-sm-12 col-md-4">
                      <form action="{% url 'mainapp:recherche_eleves_salle_de_classe' %}" class="recherche_eleve" method="GET">
                        {% csrf_token %}
                          <input type="search" placeholder="Entrer votre recherche ici" class="form-control form-control-sm recherche" name="recherche" id="recherche">
                          <div id="message" ></div>
                      </form>
                      
                    </div>

                </div>
                   <div class="fixed-btn-add">
                       {% if perms.mainapp.can_add_cours or perms.mainapp.add_eleve %}
                         <button type="button" rel="tooltip" class="cursus-btn-round ajouter-eleve-link" data-toggle="modal" data-target="#modal_ajouter_eleve" >
                              <i class="material-icons" style="font-size: 30px">contact_mail</i>   
                         </button>
                       {% endif %}
                   </div>

              <div class="table-responsive">
                    <div class="table-scroll">
                      <table class="table">
                        <thead class="">
                          <tr>
                            <th scope="col" class="fix-col0 " >#
                                  
                            </th>
                            <th scope="col" class="fix-col1" ><i class="material-icons">school</i>
                                  
                            </th>
                            
                            <th scope="col" class="nom fix-col2 active" >
                                <span class="tri tri-asc">Nom
                                   <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                                       
                            </th>
                            <th scope="col" class="prenom" >
                                <span class="tri tri-asc">Prenom
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                                       
                            </th>
                            <th scope="col" class="matricule" >
                                <span class="tri tri-asc">Matricule
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                                       
                            </th>
                            <th scope="col" class="sexe" >
                                <span class="tri tri-asc">Sexe
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                                       
                            </th>
                            <th scope="col" class="date_naissance">
                                <span class="tri tri-asc">Date Naissance
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span>                                  
                            </th>
                            <th scope="col" class="lieu_naissance">
                                <span class="tri tri-asc">Lieu Naissance
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span> 
                               
                            </th>
                            <th scope="col" class="date_entree">
                                <span class="tri tri-asc">Entrée
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span> 
                               
                            </th>
                            <th scope="col" class="redouble">
                                <span class="tri tri-asc">Redouble?
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span> 
                               
                            </th>
                            <th scope="col" class="etat_sante">
                                <span class="tri tri-asc">Santé
                                  <i class="fa fa-fw fa-caret-down down" style="display: none"></i>
                                   <i class="fa fa-fw fa-caret-up up" style="display: none"></i>
                                </span> 
                               
                            </th>
                            <!-- <th scope="col" class="text-right">Opérations
                            </th> -->

                          </tr>
                        </thead>
                        <tbody>
                           
                                {% for eleve in page_active  %}
                                <tr class="{{ eleve.id }}²²{{ eleve.nom }}²²{{ eleve.nom_prenom }}²²{{ eleve.matricule }}²²{{ eleve.sexe }}²²{{ eleve.date_naissance }}²²{{ lieu_naissance }}²²{{ date_entree }}²²{{ redouble }}">
                                  
                                  <th scope="row" class="detail-eleve-link-td fix-col0">{{ forloop.counter }}</th>
                                
                                  <td class="detail-eleve-link-td fix-col1"><img class="photo" src="/../../media/photos/22_signe.jpeg" width="30px" height="30px">
                                  </td>

                                  <td class="detail-eleve-link-td fix-col2" style="text-transform: uppercase;">
                                    {{ eleve.nom }}</td>                                    
                                      
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.prenom }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.matricule }}</td>
                                  
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.sexe }}</td>
                                  
                                  <td class="detail-eleve-link-td" style="text-transform: capitalize;">{{ eleve.date_naissance }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.lieu_naissance }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: capitalize;">{{ eleve.date_entree }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ eleve.redouble }}</td>
                                  <td class="detail-eleve-link-td" style="text-transform: capitalize;">
                                
                                    {% if eleve.etat_sante == "0" %}                                                      
                                        <div class="etat-sante-signe vert1" style=""></div>
                                    {% elif eleve.etat_sante == "1" %}                                 
                                        <div class="etat-sante-signe jaune" style=""></div>
                                    {% else %}
                                       <div class="etat-sante-signe rouge1" style=""></div>                            
                                    {% endif %}
                                
                                  </td>
                                    
                                  <!-- <td class="td-actions text-right"> 
                                  
                                      {% if perms.mainapp.can_change_eleve or perms.mainapp.change_eleve %}
                                        <button rel="tooltip" class="btn btn-link modifier-eleve-link">
                                          <i class="material-icons">edit</i>
                                        </button>
                                      {% endif %}
                                        
                                      {% if perms.mainapp.can_delete_eleve or perms.mainapp.delete_eleve %}
                                        <button class="btn btn-link supprimer-eleve-link">
                                          <i class="material-icons">insert_chart</i>
                                        </button>
                                      {% endif %}
                                        
                                        
                                       
                                          <i class="material-icons">more_horiz</i>
                                          <i class="material-icons">warning</i>
                                        
                                          <span><i class="material-icons">insert_chart</i></span>
                                          <i class="material-icons">contact_mail</i>
                                       
                                        <button class="btn btn-link supprimer-eleve-link"  style="color: #506ce9;">
                                          <i class="material-icons">warning</i>
                                        </button>
                                  
                                        
                                        
                                                                            
                                                                                       
                                  </td> 
                                                                   -->
                                </tr>

                                {% empty %}
                                  <tr>
                                    <td colspan="10" class="text-center h4">Aucun eleve(s) dans cette classe </td>
                                  </tr>
                            {% endfor %}

                        </tbody>
                        <tfoot>
                          <tr>
                            <th scope="col" class="fix-col0">#</th>
                            <th scope="col" class="fix-col1">photo</th>
                            <th scope="col" class="fix-col2">Nom</th>
                            <th scope="col" >Prenom</th>
                            <th scope="col" >Matricule</th>
                          
                            <th scope="col">Sexe</th>
                            
                            <th scope="col">Date Naissance</th>                             
                            <th scope="col">Lieu Naissance</th>                             
                            <th scope="col">Date Entrée</th>                             
                            <th scope="col">Redouble</th>                             
                            <th scope="col">Santé</th>                             
                            <!-- <th scope="col">Actions</th> -->                              
                          
                          </tr>
                        </tfoot>
                  
                    </table>
                    </div>

              </div>      
      
                       {% block pagination %}
                          {% include 'mainapp/layouts/_pagination.html' %}
                      {% endblock %}
                          
                  
                  
              </div>

            </div>



          </div>
        </div>
      </div>


        <!-- Detail-Dialog box -->
<!-- <div class="modal fade" id="modal_detail_eleve" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>

            <div class="modal-body ">
                <div class="card-body card-primary">
                  <p class="h4 text-center">DETAIL eleve</p>
                  <form method="post"  class="detail_eleve" action=" ">
                      {% csrf_token %}
                      {{ form.as_p }}

                        <div class="text-center">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Quitter</button>
                       </div>

                  </form>

                </div>
                
            </div>
               
        </div>
    </div>
</div> -->
      
      <!--Modal: Detail-Dialog box with tab-->
<div class="modal fade" id="modal_detail_eleve" >
  <div class="modal-dialog cascading-modal modal-lg" role="document" style="background:#efefe9">

    <div class="modal-content">
      <div class="modal-body ">
          <!--         <h6 class="section-title h3">Tabs</h6> -->
            <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <nav style="background-color: #EEEEEE" class="">
                      <div class="nav nav-tabs nav-fill" data-tabs="tabs">
                        
                        <a class="nav-item nav-link active" data-toggle="tab" href="#infos"><i class="fas fa-user-graduate fa-2x" style="color: #4CAF50"></i><span class="ml-3">Eleve</span></a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#orange"><i class="fas fa-books fa-2x" style="color: #FF9800"></i><span class="ml-3">Cours</span></a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#yellow"><i class="fas fa-user fa-2x" style="color: #506CE9"></i><span class="ml-3">Parents</span></a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#green"><i class="fas fa-users-class fa-2x" style="color: #9C27B0"></i><span class="ml-3">Notes</span></a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#blue"><i class="fas fa-chart-line fa-2x" style="color: #00BCD4"></i><span class="ml-3">Stat</span></a>
              
                      </div>
                    </nav>

                    <div class="tab-content py-3 px-3 px-sm-0">
                        <div class="tab-pane active" id="infos">
                            <h1>Info Eleve</h1>
                            <p>red red red red red red</p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                        </div>
                        <div class="tab-pane" id="orange">
                            <h1>Assiduité</h1>
                            <p>orange orange orange orange orange</p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                        </div>
                        <div class="tab-pane" id="yellow">
                            <h1>Parents</h1>
                            <p>yellow yellow yellow yellow yellow</p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                        </div>
                        <div class="tab-pane" id="green">
                            <h1>Notes et Devoirs</h1>
                            <p>green green green green green</p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                        </div>
                        <div class="tab-pane" id="blue">
                            <h1>Statistiques</h1>
                            <p>blue blue blue blue blue</p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                        </div>
                    </div>
                  </div>

                </div>
            </div>

      </div>
    </div>

    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modalLoginAvatar">Launch
    Modal Login with Avatar</a>
</div>


        <!-- dialog box ajouter eleve  -->
      <div class="modal fade" id="modal_ajouter_eleve" tabindex="-1" role="">
          <div class="modal-dialog" role="document">
              <div class="modal-content card card-nav-tabs">
                  <div class=" card-nav-tabs card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">library_books</i></div>          
                  </div>
                      <div class="modal-body ">
                        <div class="card-body">
                          <p class="h4 text-center">AJOUTER eleve</p>
                          <form method="post"  class="" action="{% url 'mainapp:creation_eleve' %}">
                              {% csrf_token %}
                              {{ form.as_p }}

                               <label id="message"></label>
                              <div class="text-center">
                                  <button type="submit" class="btn">Créer</button>
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                               </div>
                          </form>

                        </div>
                        
                    </div>
         
              </div>
          </div>
      </div>
        <!-- markup -->
        <button class="btn btn-fill" onclick='swal({ title:"Good job!", text: "You clicked the button!", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'>Try me!</button>
            <!-- for more actions that you can use onclick, please check out assets/demo/js/demo.js -->

      <button class="btn btn-fill" onclick="demo.showSwal('auto-close')">Try me!<div class="ripple-container"></div></button>
  

  {% endblock %}

{% block menu_fixed %}    
    {% include 'mainapp/layouts/_nav_toolbar_classe.html' %}
{% endblock %}


  {% block script_page %}

  <script src="{% static 'assets/js/core/jquery.easypiechart.js' %}"></script>
  <script>
    $(function(){
      $(".chart").easyPieChart({
          size: 150,
          barColor:'#17d3e6',
          scaleColor: false,
          lineWidth: 15,
          trackColor: '#373737',
          lineCap: 'circle',
          animate: 3500,
      });
    });

    $(function(){
      $(".chart-mini-bon").easyPieChart({
          size: 50,
          barColor:'#00FF00',
          scaleColor: false,
          lineWidth: 7,
          trackColor: '#fff',
          lineCap: 'circle',
          animate: 3500,
      });
    });

    $(function(){
      $(".chart-mini-moyen").easyPieChart({
          size: 50,
          barColor:'#FFDA00',
          scaleColor: false,
          lineWidth: 7,
          trackColor: '#fff000',
          lineCap: 'circle',
          animate: 3500,
      });
    });

    $(function(){
      $(".chart-mini-mauvais").easyPieChart({
          size: 50,
          barColor:'#f00',
          scaleColor: false,
          lineWidth: 7,
          trackColor: '#fff',
          lineCap: 'circle',
          animate: 3500,
      });
    });
    
    $('#nav-tab a').on('click', function (e) {
      e.preventDefault();alert("echo");
      $("tab-pane").removeClass("show");
      $(this).tab('show');
    });

  </script>
  {% endblock %}