  {% extends 'mainapp/layouts/base-dashbord.html' %}

  {% load static %}

  {% block header %}
      <script src="{% static 'js/main-liste-etudiants.js' %}"></script>
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>

       <style type="text/css">

/* width */
::-webkit-scrollbar {
  width: 0px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.hover{
  background-color: #506CE9;
  color: white;
}
.moving-tab{
  z-index: 1000;
  padding: 10px;
text-align: center;
  
  border-radius: 5px;
}
.wizard-navigation ul a {
  /*color:black!important;
  font-size: 12px;*/
  text-align: center;
}

 #showProf, #showMatiere{
    height: 40px;
    width: 40px;
   
}

#matieres{
  padding-top: 10px;
  padding-bottom: 10px;
}

#teachers{
  padding-top: 10px;
  padding-bottom: 10px;
}


.wizard-navigation{
  height: 45px;
}

#classes{
  /*padding: 20px;*/
}

/*.tag-enseignant img{
  border-radius: 50%;
}*/

.tag-enseignant {
  /*background: #999999;*/
  color: #999999;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  overflow: hidden; 
  line-height: 10px;
  width: auto;
  position: relative;
  margin-top: 1px;
  /*margin-bottom: -5px;*/
  margin-right: 0px;
  margin-left: 0px;
  padding: 3px;
  font-weight: bold;
  font-size: 0.7em;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  cursor: all-scroll;

  /*visibility: hidden;*/
}


/*
.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover::after {
   border-left-color: crimson; 
}

.tag:hover {
  background-color: crimson;
  color: white;
}*/   

/*.departement-maths{
  background: #00BCD4;
  color: #fff;
}
.departement-histoire{
  background: #4CAF50;
  color: #fff;
}
.departement-sport{
  background: #999999;
  color: #fff;
}
.departement-francais{
  background: #F99400;
  color: #fff;
}
 */
.tag-matiere{
  
  border-radius: 3px;
  display: inline-block;
  height: auto;
  overflow: hidden; 
  line-height: 16px;
  width: auto;
  padding: 0 2px 0 2px;
  position: relative;
  margin: 0px 0px 0px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  cursor: all-scroll;
}
.matiere1{
  /*background: #f00;*/
  color: #f00;
  font-weight: bold;

}
.matiere2{
  /*background: #0f0;*/
  color: #0f0;
  font-weight: bold;
  
}
.matiere3{
  /*background: #f0f;*/
  color: #f0f;
  font-weight: bold;
  
}
.matiere4{
  /*background: #ff0;*/
  color: #fa0;
  font-weight: bold;
  
}
.matiere5{
  /*background: #0ff;*/
  color: #0ff;
  font-weight: bold;
  
}
.matiere6{
  /*background: #0ff;*/
  color: #aaf;
  font-weight: bold;
  
}
.matiere7{
  /*background: #0ff;*/
  color: #aaa;
  font-weight: bold;
  
}
.matiere8{
  /*background: #0ff;*/
  color: #ff0;
  font-weight: bold;
  
}
.matiere9{
  /*background: #0ff;*/
  color: #a0d;
  font-weight: bold;
  
}
.matiere10{
  /*background: #0ff;*/
  color: #fab;
  font-weight: bold;
  
}
/*.label-classe-etiquette{
  width: 10px;

  height: 150px;
  
}*/

.label-classe-texte{
  
  /*font-weight: bold;*/
  /*background-color: white;*/
  font-size: 10px;

}
/*a:active { 
  background-color: yellow;
  border-radius: 10px;

}*/
.classe{
  margin: 1px;
  height: 22px;
  width: 65px;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 5px;

  padding: 10px;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  /*
  
  background-color: #ccc;
  
  */

  

}

.menu-element:hover{
  /*background-color: #f00;*/
  /*width: 150%;
  height: 150%;
  position: relative;*/
  /*left: -30px;*/
  cursor: pointer;
}

.default{
  color: #fff;
  background-color: #999999;
  border-color: #999999;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
.default:hover{
  color: #fff;
  background-color: #919191;
  border-color: #7a7a7a;
  
}
.principal{
color: #fff;
  background-color: #506CE9;
  border-color: #999999;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
.principal:hover{
  color: #fff;
  background-color: #5A6fff;
  border-color: #7a7a7a;
}

</style>


  {% endblock %}

  {% block menu_fixed %}
    
        <div class="menu-element" style="margin-top: 5px;margin-bottom: 5px">
          <img id="showMatiere" src="{% static 'images/matiere.png' %}"  />
        </div>

        <div class="menu-element" style="margin-top: 5px;margin-bottom: 5px">
          <img id="showProf" src="{% static 'images/teacher.png' %}"  />
        
        </div>                            


        <div id="teachers" class="dropdown-menu" x-placement="top-start" style="position: absolute; top: 0px; left: -250px; will-change: top, left; width: auto;height: auto;  padding-right: 0; margin-right: 0px; "  >

              <div style="overflow-y: scroll;width:auto; height: 500px;">

                  <div id="drag10"  class="tag-enseignant departement-maths">BAKA Mathieu</div>
                  <div id="drag9"   class="tag-enseignant departement-maths">SOULEY Aminou</div>
                  <div id="drag8"   class="tag-enseignant departement-sport">KAMDEM Jerome</div>
                
                  <div id="drag7"   class="tag-enseignant departement-sport">NJOYA Ibrahim</div>
                  <div id="drag6"   class="tag-enseignant departement-histoire">BOCK MATIP Jean</div>
                  <div id="drag5"   class="tag-enseignant departement-francais">DOUALA BELL Pascal</div>
                
                  <div id="drag4"   class="tag-enseignant departement-francais">MOHAMADOU Youssouf</div>
                  <div id="drag3"  class="tag-enseignant departement-histoire">ATANGANA Barnabe</div>
                  <div id="drag2"  class="tag-enseignant departement-sport">GUEBAYI ELOI ULRICH</div>
                 
                  <div id="drag1"  class="tag-enseignant departement-maths">SIGNE CLAUDE GERARD</div> 


                  <div id="drag10"  class="tag-enseignant departement-maths">BAKA Mathieu</div>
                  <div id="drag9"   class="tag-enseignant departement-maths">SOULEY Aminou</div>
                  <div id="drag8"   class="tag-enseignant departement-sport">KAMDEM Jerome</div>
                
                  <div id="drag7"   class="tag-enseignant departement-sport">NJOYA Ibrahim</div>
                  <div id="drag6"   class="tag-enseignant departement-histoire">BOCK MATIP Jean</div>
                  <div id="drag5"   class="tag-enseignant departement-francais">DOUALA BELL Pascal</div>
                
                  <div id="drag4"   class="tag-enseignant departement-francais">MOHAMADOU Youssouf</div>
                  <div id="drag3"  class="tag-enseignant departement-histoire">ATANGANA Barnabe</div>
                  <div id="drag2"  class="tag-enseignant departement-sport">GUEBAYI ELOI ULRICH</div>
                 
                  <div id="drag1"  class="tag-enseignant departement-maths">SIGNE CLAUDE GERARD</div> <div id="drag10"  class="tag-enseignant departement-maths">BAKA Mathieu</div>
                  <div id="drag9"   class="tag-enseignant departement-maths">SOULEY Aminou</div>
                  <div id="drag8"   class="tag-enseignant departement-sport">KAMDEM Jerome</div>
                
                  <div id="drag7"   class="tag-enseignant departement-sport">NJOYA Ibrahim</div>
                  <div id="drag6"   class="tag-enseignant departement-histoire">BOCK MATIP Jean</div>
                  <div id="drag5"   class="tag-enseignant departement-francais">DOUALA BELL Pascal</div>
                
                  <div id="drag4"   class="tag-enseignant departement-francais">MOHAMADOU Youssouf</div>
                  <div id="drag3"  class="tag-enseignant departement-histoire">ATANGANA Barnabe</div>
                  <div id="drag2"  class="tag-enseignant departement-sport">GUEBAYI ELOI ULRICH</div>
                 
                  <div id="drag1"  class="tag-enseignant departement-maths">SIGNE CLAUDE GERARD</div> <div id="drag10"  class="tag-enseignant departement-maths">BAKA Mathieu</div>
                  <div id="drag9"   class="tag-enseignant departement-maths">SOULEY Aminou</div>
                  <div id="drag8"   class="tag-enseignant departement-sport">KAMDEM Jerome</div>
                
                  <div id="drag7"   class="tag-enseignant departement-sport">NJOYA Ibrahim</div>
                  <div id="drag6"   class="tag-enseignant departement-histoire">BOCK MATIP Jean</div>
                  <div id="drag5"   class="tag-enseignant departement-francais">DOUALA BELL Pascal</div>
                
                  <div id="drag4"   class="tag-enseignant departement-francais">MOHAMADOU Youssouf</div>
                  <div id="drag3"  class="tag-enseignant departement-histoire">ATANGANA Barnabe</div>
                  <div id="drag2"  class="tag-enseignant departement-sport">GUEBAYI ELOI ULRICH</div>
                 
                  <div id="drag1"  class="tag-enseignant departement-maths">SIGNE CLAUDE GERARD</div> <div id="drag10"  class="tag-enseignant departement-maths">BAKA Mathieu</div>
                  <div id="drag9"   class="tag-enseignant departement-maths">SOULEY Aminou</div>
                  <div id="drag8"   class="tag-enseignant departement-sport">KAMDEM Jerome</div>
                
                  <div id="drag7"   class="tag-enseignant departement-sport">NJOYA Ibrahim</div>
                  <div id="drag6"   class="tag-enseignant departement-histoire">BOCK MATIP Jean</div>
                  <div id="drag5"   class="tag-enseignant departement-francais">DOUALA BELL Pascal</div>
                
                  <div id="drag4"   class="tag-enseignant departement-francais">MOHAMADOU Youssouf</div>
                  <div id="drag3"  class="tag-enseignant departement-histoire">ATANGANA Barnabe</div>
                  <div id="drag2"  class="tag-enseignant departement-sport">GUEBAYI ELOI ULRICH</div>
                 
                  <div id="drag1"  class="tag-enseignant departement-maths">SIGNE CLAUDE GERARD</div> <div id="drag10"  class="tag-enseignant departement-maths">BAKA Mathieu</div>
                  <div id="drag9"   class="tag-enseignant departement-maths">SOULEY Aminou</div>
                  <div id="drag8"   class="tag-enseignant departement-sport">KAMDEM Jerome</div>
                
                  <div id="drag7"   class="tag-enseignant departement-sport">NJOYA Ibrahim</div>
                  <div id="drag6"   class="tag-enseignant departement-histoire">BOCK MATIP Jean</div>
                  <div id="drag5"   class="tag-enseignant departement-francais">DOUALA BELL Pascal</div>
                
                  <div id="drag4"   class="tag-enseignant departement-francais">MOHAMADOU Youssouf</div>
                  <div id="drag3"  class="tag-enseignant departement-histoire">ATANGANA Barnabe</div>
                  <div id="drag2"  class="tag-enseignant departement-sport">GUEBAYI ELOI ULRICH</div>
                 
                  <div id="drag1"  class="tag-enseignant departement-maths">SIGNE CLAUDE GERARD</div> 
              </div>
                                                   
                  
          </div>
                      
          <div id="matieres" class="dropdown-menu scroll" x-placement="top-start" style="position: absolute; top: -40px; left: -250px; will-change: top, left; width: auto; padding-right: 0; margin-right: 0">
             
             <div style="overflow-y: scroll;width:auto; height: 100px;">

                <div class="tag-matiere matiere1 ">Arts</div>
                <div class="tag-matiere matiere2 ">Biology</div>
                <div class="tag-matiere matiere3 ">Mathematics</div>

                <div class="tag-matiere matiere4 ">History</div>
                <div class="tag-matiere matiere5 ">Physics</div>
                <div class="tag-matiere matiere6 ">Computer Sciences</div>

                <div class="tag-matiere matiere7 ">Sport</div>
                <div class="tag-matiere matiere8 ">Geography</div>
                <div class="tag-matiere matiere9 ">French</div>
                <div class="tag-matiere matiere10 ">English</div>

              </div>

          </div>

    {% endblock %}



  {% block content %}
    
    <div class="container-fluid">
            
        <div class="col-md-12">         

          <div class="wizard-container">
            <div class="card card-wizard active" data-color="rose" id="wizardProfile">
              <form class="form">
                <div class="card-header text-center">
                  <h3 class="card-title">
                    EMPLOI DU TEMPS
                  </h3>
                  <!-- <h5 class="card-description">This information will let us know more about you.</h5> -->
                </div>

                <div class="wizard-navigation">
                  <ul class="nav nav-pills" style="background-color: #ccc">
                    <li class="nav-item" style="width: 14.2857%;background-color: #ccc">
                      <a class="nav-link active"  href="#about" data-toggle="tab" role="tab">
                        6eme
                      </a>
                    </li>
                    <li class="nav-item" style="width: 14.2857%;">
                      <a class="nav-link"  href="#account" data-toggle="tab" role="tab">
                        5eme
                      </a>
                    </li>
                    <li class="nav-item" style="width: 14.2857%;">
                      <a class="nav-link"  href="#address" data-toggle="tab" role="tab">
                        4eme
                      </a>
                    </li>
                    <li class="nav-item" style="width: 14.2857%;">
                      <a class="nav-link"  href="#address" data-toggle="tab" role="tab">
                        3eme
                      </a>
                    </li>
                    <li class="nav-item" style="width: 14.2857%;">
                      <a class="nav-link"  href="#address" data-toggle="tab" role="tab">
                        2nde
                      </a>
                    </li>
                    <li class="nav-item" style="width: 14.2857%;">
                      <a class="nav-link"  href="#address" data-toggle="tab" role="tab">
                        1ere
                      </a>
                    </li>
                    <li class="nav-item" style="width: 14.2857%;">
                      <a class="nav-link"  href="#address" data-toggle="tab" role="tab">
                        Tle
                      </a>
                    </li>
                  </ul>
                  <div class="moving-tab" style="width: {{ width }}px; transform: translate3d(-10px, -40px, 0px); transition: transform 0s ease 0s;">
                          6eme
                  </div>
                </div>

                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="about">
                        
                        

                         <div class="classes" style="margin-bottom: 6px;">
                            <span class="classe default">6EME A</span>
                            <span class="classe default">6EME B</span>
                            <span class="classe default">6EME C</span>
                            <span class="classe default">6EME D</span>
                            <span class="classe principal">6EME E</span>
                            <span class="classe default">6EME F</span>
                            <span class="classe principal">6EME G</span>
                            <span class="classe principal">6EME H</span>
                            <span class="classe default">6EME I</span>
                            <span class="classe principal">6EME J</span>
                         </div> 

                      <!-- <div data-notify="container" class="col-11 col-md-4 alert alert-rose alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; bottom: 20px; left: 20px;"><button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;"><i class="material-icons">close</i></button><i data-notify="icon" class="material-icons" style="position: absolute;top: 0px;">add_alert</i><span data-notify="title"></span> <span data-notify="message">Welcome to <b>Material Dashboard Pro</b> - a beautiful admin panel for every web developer.</span><a href="#" target="_blank" data-notify="url"></a></div>
 -->
                      

                      <table id="table" class=" table table-responsive table-bordered" >
                                  <colgroup>
                                    <col width="100"/>
                                    <col width="140"/>
                                    <col width="140"/>
                                    <col width="140"/>
                                    <col width="140"/>
                                    <col width="140"/>
                                  </colgroup>
                                  <tbody>
                                    <tr>
                                      <!-- if checkbox is checked, clone school subjects to the whole table row  -->
                                      <!-- <td class="redips-mark blank">
                                        <input id="week" type="checkbox" title="Apply school subjects to the week" />
                                        <input id="report" type="checkbox" title="Show subject report"/>
                                      </td> -->
                                      <td class="">&nbsp;&nbsp;</td>
                                      <td class="">Monday</td>
                                      <td class="">Tuesday</td>
                                      <td class="">Wednesday</td>
                                      <td class="">Thursday</td>
                                      <td class="">Friday</td>
                                                                           

                                    </tr>
                                    <tr>
                                      <td class="">07h<sup>30</sup> - 08h<sup>30</sup></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>                                    
                                    </tr>
                                    <tr>
                                      <td class="">09h<sup>30</sup> - 10h<sup>30</sup></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                    </tr>
                                    <tr>
                                      <td class="">10h<sup>30</sup> - 11h<sup>30</sup></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                    </tr>
                                    <tr>
                                      <td class="">11h<sup>30</sup> - 12h<sup>30</sup></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                    </tr>
                                    <tr>
                                      <td class="">12h<sup>30</sup> - 13h<sup>30</sup></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                    </tr>
                                    <tr>
                                      <td class="">13h<sup>30</sup> - 14h<sup>30</sup></td>
                                      <td class="lunch" colspan="5">Lunch</td>
                                    </tr>
                                    <tr>
                                      <td class="">14h<sup>30</sup> - 15h<sup>30</sup></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                    </tr>
                                    <tr>
                                      <td class="">15h<sup>30</sup> - 16h<sup>30</sup></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell" ></td>
                                      <td class="cell"></td>
                                    </tr>
                                    <tr>
                                      <td class="">16h<sup>30</sup> - 17h<sup>30</sup></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                      <td class="cell"></td>
                                    </tr>
                                  </tbody>
                      </table>
                            


                           
                    </div>
                      

                      <div class="tab-pane " id="account">
                        <h5 class="info-text"> What are you doing? (checkboxes) </h5>
                        <div class="row justify-content-center">
                          <div class="col-lg-10">
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="choice" data-toggle="wizard-checkbox">
                                  <input type="checkbox" name="jobb" value="Design">
                                  <div class="icon">
                                    <i class="fa fa-pencil"></i>
                                  </div>
                                  <h6>Design</h6>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="choice" data-toggle="wizard-checkbox">
                                  <input type="checkbox" name="jobb" value="Code">
                                  <div class="icon">
                                    <i class="fa fa-terminal"></i>
                                  </div>
                                  <h6>Code</h6>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="choice" data-toggle="wizard-checkbox">
                                  <input type="checkbox" name="jobb" value="Develop">
                                  <div class="icon">
                                    <i class="fa fa-laptop"></i>
                                  </div>
                                  <h6>Develop</h6>
                                </div>
                                <div class="dropdown bootstrap-select"><select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7" tabindex="-98"><option class="bs-title-option" value=""></option>
                                  <option disabled="" selected="">Choose city</option>
                                  <option value="2">Foobar</option>
                                  <option value="3">Is great</option>
                                </select><button type="button" class="dropdown-toggle btn btn-primary btn-round" data-toggle="dropdown" role="button" title="Choose city"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Choose city</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="address">
                        <div class="row justify-content-center">
                          <div class="col-sm-12">
                            <h5 class="info-text"> Are you living in a nice area? </h5>
                          </div>
                          <div class="col-sm-7">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-static">Street Name</label>
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-static">Street No.</label>
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group bmd-form-group">
                              <label class="bmd-label-static">City</label>
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group select-wizard">
                              <label>Country</label>
                              <div class="dropdown bootstrap-select"><select class="selectpicker" data-size="7" data-style="select-with-transition" title="Single Select" tabindex="-98"><option class="bs-title-option" value=""></option>
                                <option value="Afghanistan"> Afghanistan </option>
                                <option value="Albania"> Albania </option>
                                <option value="Algeria"> Algeria </option>
                                <option value="American Samoa"> American Samoa </option>
                                <option value="Andorra"> Andorra </option>
                                <option value="Angola"> Angola </option>
                                <option value="Anguilla"> Anguilla </option>
                                <option value="Antarctica"> Antarctica </option>
                              </select><button type="button" class="btn dropdown-toggle bs-placeholder select-with-transition" data-toggle="dropdown" role="button" title="Single Select"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Single Select</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="mr-auto">
                      <input type="button" id="previous-level" class="btn btn-default disabled" name="previous" value="Previous">
                    </div>
                    <div class="ml-auto">
                      <input type="button" id="next-level" class="btn"  value="Next">
                      <input type="button" class="btn" value="Finish" style="display: none;">
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  
              </form>
            </div>
          </div>


          


      </div>
     
  </div>



  {% endblock %}

  {% block script_page %}
    
<script>
  

</script>

<script type="text/javascript">
  $(document).ready(function() 
    {
      /*gestion du toggle entre les tags des matieres et ceux des prof*/
        var toggle_visibility_prof = 0;
        var toggle_visibility_matiere = 0;



      $("#showProf").click(function() {

           /*rendre le menu d'affichage des matieres inactif*/
          $("#matieres").removeClass("show");
          $("#showMatiere").attr("src", "/static/images/matiere.png");
          toggle_visibility_matiere = 0;

        
          if(toggle_visibility_prof == 0){
            
            toggle_visibility_prof++;

            $("#teachers").toggleClass("show");
                   
            $(this).attr("src", "/static/images/teacher_selected.png");

          }else{

              toggle_visibility_prof--;

              $("#teachers").toggleClass("show");
              
              $(this).attr("src", "/static/images/teacher.png");

          }
       
      });

      $("#showMatiere").click(function(){

          /*rendre le menu d'affichage des profs inactif*/
          $("#teachers").removeClass("show");
          $("#showProf").attr("src", "/static/images/teacher.png");
          toggle_visibility_prof = 0;

          /*gestion de la visibilité proprement dite*/
          if( toggle_visibility_matiere == 0){

            toggle_visibility_matiere++;
            $("#matieres").toggleClass("show");
            
            $(this).attr("src", "/static/images/matiere_selected.png");

          }else{

            toggle_visibility_matiere--;
            $("#matieres").toggleClass("show");

            $(this).attr("src", "/static/images/matiere.png");

          }

      });


    /*gestion du niveau selectionné(6e,5e,4e,3e, ...) au debut de la page*/
    width = $(window).width();
    var nbreLevel = $(".wizard-navigation ul li").length;

    if (width <= 700){
        $(".moving-tab").css("width", width/nbreLevel);

    }else{
        $(".moving-tab").css("width", width/(nbreLevel+2));

    }



    /* gestion du bouton suivant pour les niveaux(6e, 5e, 4e, 3e, ...) */

        
    //taille du debordement a l'extreme gauche et a l'extreme droite
    Xcoordinate_translation = 10;

    var jj = 1;
    $("#next-level").on("click",function () {
      

        width =  $(".wizard-navigation ul li:first").width()*jj;
        taille = $(".wizard-navigation ul li").length;

        if(jj <= taille-1){

            if (jj == taille-1){
                $(".moving-tab").css({"transform": "translate3d("+ (width+Xcoordinate_translation) +"px, 0px, 0px)",
                "position":"absolute", "top": "56px",
                "transition": "all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s"});
              
            }else{
                $(".moving-tab").css({"transform": "translate3d("+ width+"px, 0px, 0px)",
                  "position":"absolute", "top": "56px",
                  "transition": "all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s"});
            }

            $(".moving-tab").text($(".wizard-navigation ul li a")[jj].text);

            jj++;
        }
        
      
    });


    $("#previous-level").on("click",function () {

        width =  $(".wizard-navigation ul li:first").width()*(jj-2);
        taille = $(".wizard-navigation ul li").length;

        if(jj >= 2){

            if (jj == 2){
                $(".moving-tab").css({"transform": "translate3d("+ (width-Xcoordinate_translation) +"px, 0px, 0px)",
                "position":"absolute", "top": "56px",
                "transition": "all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s"});
            }else{
                $(".moving-tab").css({"transform": "translate3d("+ width+"px, 0px, 0px)",
                  "position":"absolute", "top": "56px",
                  "transition": "all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s"});
            }

            $(".moving-tab").text($(".wizard-navigation ul li a")[jj-2].text);

            jj--;
        }
       

    });
   
    $(".wizard-navigation ul li a").on("click",function () {
      
        $(".wizard-navigation ul li a").removeClass("active");
        $(this).addClass("active");
          
        $(".moving-tab").text(this.textContent);
       
    });


    /* gestion du click sur un niveau(6e, 5e, 4e, ...)*/
    $(".wizard-navigation ul li").click(function(){
      
      taille = $(".wizard-navigation ul li").length;
      jj = $(this).index()+1;
      width =  $(".wizard-navigation ul li:first").width()*(jj-1);

      //alert(jj);
      if (jj ==1){
      //alert("debut");

        $(".moving-tab").css({"transform": "translate3d("+ (width-Xcoordinate_translation) +"px, 0px, 0px)",
                "position":"absolute", "top": "56px",
                "transition": "all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s"});
      }else if(jj == taille){
      //alert("fin");

          $(".moving-tab").css({"transform": "translate3d("+ (width+Xcoordinate_translation+5) +"px, 0px, 0px)",
                "position":"absolute", "top": "56px",
                "transition": "all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s"});
      }else{
      //alert("milieu");

        $(".moving-tab").css({"transform": "translate3d("+ (width) +"px, 0px, 0px)",
                "position":"absolute", "top": "56px",
                "transition": "all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s"});
      }

    });



      $("#teachers .tag-enseignant").draggable({
        helper:"clone",
        classes: {
          "element": "enseignant"
        },
       /* start: startedDrag,

        stop:stoppedDrag*/
        
      });

      $("#matieres .tag-matiere").draggable({
        helper:"clone",
        classes: {
          "element": "matiere"
        }
      });

      

 $("body").on("drop", ".cell", function(ev, ui) {   

  var droppedItem = $(ui.draggable).clone();

      var make_droppable = function($elements) {
          $elements.droppable({
              hoverClass : 'hover',
              drop: drop_function
          });
      }

      var drop_function = function() {
        alert("drop function")

         $(this).after(droppedItem);
                  
         // rebind new elements
         make_droppable($(this));
      }

// call this for the first time.
    make_droppable($(this));       
        
           /* var droppedItem = $(ui.draggable).clone();
                    droppedItem.addClass("tag-cell");

              
              //$(this).append(droppedItem);
              alert(droppedItem.text());
              $(".tag-cell").draggable();

              $(".cell").droppable(
          {
              //accept: ".tag-matiere, .tag-enseignant, .tag-cell", 
              activeClass: "active",
              hoverClass:  "hover",
              
              
          });*/

      });


      $(".cell").droppable(
          {
              //accept: ".tag-matiere, .tag-enseignant, .tag-cell", 
              activeClass: "active",
              hoverClass:  "hover",
              
             /* drop: function(ev, ui){

                    var droppedItem = $(ui.draggable).clone();
                    droppedItem.addClass("tag-cell");

                    if($(this).find(".tag-matiere").text()==""){

                        if($(ui.draggable).draggable( "option", "classes.element" )=="matiere" ){

                     alert("22");     
                          $(this).append(droppedItem);

                          var droppableOptions = {
                              drop: function(event, ui) {
                                  //if ($(ui.draggable).hasClass("area")){
                                      // call another function
                                 //} else {  
                                      $(this).append($(ui.draggable));
                                      //$('.area').draggable();
                                  //}
                              }
                          }

                          $(this).droppable(droppableOptions);

                          $(".tag-cell").draggable();
                          
                          
                        }
                        else if($(ui.draggable).draggable( "option", "classes.element" )=="enseignant" ){
                          alert("veuillez choisir d'abord la matiere !!!")
                        }
                        

                    }else if($(ui.draggable).draggable( "option", "classes.element" )=="enseignant"){
                            var contenu_td = $(this).find(".tag-enseignant").text().toLowerCase();
                            var contenu_drag = droppedItem.text().toLowerCase();
                            if(contenu_td.indexOf(contenu_drag)==-1){
                     alert("33");     
                              $(this).append(droppedItem);
                          $(".tag-cell").draggable();

                            }
                    }
                    //else if($(ui.draggable).draggable( "option", "classes.element" )=="td-matiere"){

                    //}
                              
              },
*/              
          });



      /*function startedDrag() {

        $('#table tbody tr:first td').removeClass("cell");      

      }
        
        function stoppedDrag() {

            $('#table tbody tr:first td').addClass("cell");
            
        }
*/
      $("body").on("dblclick", "td .tag-matiere, td .tag-enseignant", function() {
        
        //alert("suppression");
        $(this).remove();
        //(longpress) ? alert("Long Press") : alert("Short Press");

      });

      //$("body").on("drag",)

      /*$("#table td div.tag-matiere").draggable({
          classes: {
          "element": "matiere-td"
        }
      });

      

      $("#table td").droppable({
        drop: function(ev, ui){
          var droppedItem = $(ui.draggable).clone();
          $(this).append(droppedItem);
          alert("7888");
        }
      });*/

     

/*    $("body").on("DOMNodeInserted", "td", function() {

      $("td div.tag-cell").draggable({
        classes: {
          "element": "tag-cell"
        }
      });
      
      $("#table td.cell").droppable({
        drop: function(ev, ui){
          var droppedItem = $(ui.draggable).clone();
          //if($(ui.draggable).draggable( "option", "classes.element" )=="tag-cell" ){
              $(this).append(droppedItem);
              //$(".ui-draggable-dragging").remove();
          //}
                        
                   alert("7888");
        }

    });

    });*/

  

//detect new width and detect if width changes
      var width = $(window).width();
      $(window).on('resize', function() {
        //alert("777000");

        if ($(this).width() != width) {
          width = $(this).width();
          /*$(".moving-tab").css({"transform": "translate3d("+ (width+Xcoordinate_translation) +"px, 0px, 0px)",
                "position":"absolute", "top": "56px",
                "transition": "all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s"});*/
          
            if (width <= 700){
                $(".moving-tab").css("width", width/nbreLevel);
                //$(".moving-tab").css("position", "absolute");
                //$(".moving-tab").css("top", "56px");


            }else{
                $(".moving-tab").css("width", width/(nbreLevel+2));
                //$(".moving-tab").css("position", "absolute");
                //$(".moving-tab").css("top", "56px");

            }
          
        }
      });


        //on body click close all windows of "enseignant" or "matiere"
  $("body").on("click", ".form, .card-header, .wizard-navigation", function(){
    
    //alert();
    $("#teachers").removeClass("show"); 
    $("#matieres").removeClass("show");
    $("#showMatiere").attr("src", "/static/images/matiere.png");
    $("#showProf").attr("src", "/static/images/teacher.png");
    

  });



 /* mettre a jour le nouveau theme de l'utilisateur */

$(".sidebar").attr("data-color", "{{ data_color }}");
$(".sidebar").addClass("{{ sidebar_class }}");
$(".btn").removeClass("orange vert violet turquoise bleu rose jaune").addClass("{{ theme_class }}");
$(".btn-rond").removeClass("orange vert violet turquoise bleu rose jaune").addClass("{{ theme_class }}");
$(".moving-tab").addClass("{{ theme_class }}");


    });

</script>

     
  {% endblock %}