  {% extends 'mainapp/layouts/base-dashbord.html' %}

  {% load i18n static %}

  {% block header %}
      
      <script src="{% static 'js/liste-sous-etablissements.js' %}"></script>

      <style type="text/css">
        
        table span:hover, tr:hover{
          cursor: pointer;
        }

    /* no select sur les elemenst th */
        th {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
      }

      .dropdown{
        margin-bottom: 8px!important;
        
      }

      </style>
      
  {% endblock %}


      {% block language %}
          <form action="/i18n/setlang/" method="post">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{% url 'mainapp:liste_sous_etablissements' %}" />
                  
                  <select name="language" onchange="this.form.submit()">
                    {% for lang in LANGUAGES %}
                      {% if LANGUAGE_CODE == lang.0 %}
                        <option value="{{ lang.0 }}" selected>{{ lang.1 }}</option>
                      {% elif LANGUAGE_CODE != lang.0 %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                      }
                      {% endif %}
                    {% endfor %}
                  </select>
          </form>
      {% endblock %}

{% block sidebar %}
    {% include 'mainapp/layouts/_nav_sidebar_configuration.html' %}
{% endblock %}

  {% block content %}
        
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

                <div class="card">

                  <!-- <div class=" card-nav-tabs card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">library_books</i></div>         
                  </div> -->

                  <div class="card-body">
                      <div class="row">

                        <div class="col-sm-12 col-md-12">
                          <p class="h3 text-center">Liste Sous Etablissement</p>
                        </div>

                      </div>

                        <div class="row">

                            <div class="col-sm-12 col-md-8">
                                
                                 <label>Afficher </label> 
                                 <select id="nbre_element_par_page" class="form-control-sm">
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="200">200</option>
                                    <option value="-1">Tout</option>
                                  </select> 
                                  <label>Elements</label> 
                                
                            </div>

                            <div class="col-sm-12 col-md-4">
                              <form action="{% url 'mainapp:recherche_sous_etablissement' %}" class="recherche_sous_etablissement" method="GET">
                                {% csrf_token %}
                                  <input type="search" placeholder="Entrer votre recherche ici" class="form-control form-control-sm recherche" name="recherche" id="recherche">
                                  <div id="message" ></div>
                              </form>
                              
                            </div>

                        </div><br>


                  <div class="">
<!--   <div class="table-responsive ">
  <div class="table-scroll">
      <table class="table">
        <thead>
            <tr>
                <th class="fix-col">#</th>
                <th class="fix-col1">Designation</th>
                <th>Experience</th>
                <th>Technology</th>
                <th>Company</th>
                <th>Location</th>
                <th>Contact No.</th>
                <th>Address</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fix-col">1</td>
                <td class="fix-col1">Front End Developer</td>
                <td>5 yrs</td>
                <td>HTML,CSS</td>
                <td>Google</td>
                <td>California</td>
                <td>9876543210</td>
                <td>Google Office</td>
            </tr>
            <tr>
                <td class="fix-col">2</td>
                <td class="fix-col1">Front End Developer</td>
                <td>5 yrs</td>
                <td>HTML,CSS</td>
                <td>Google</td>
                <td>California</td>
                <td>9876543210</td>
                <td>Google Office</td>
            </tr>
            <tr>
                <td class="fix-col">3</td>
                <td class="fix-col1">Front End Developer</td>
                <td>5 yrs</td>
                <td>HTML,CSS</td>
                <td>Google</td>
                <td>California</td>
                <td>9876543210</td>
                <td>Google Office</td>
            </tr>
            <tr>
                <td class="fix-col">4</td>
                <td class="fix-col1">Front End Developer</td>
                <td>5 yrs</td>
                <td>HTML,CSS</td>
                <td>Google</td>
                <td>California</td>
                <td>9876543210</td>
                <td>Google Office</td>
            </tr>
            <tr>
                <td class="fix-col">5</td>
                <td class="fix-col1">Front End Developer</td>
                <td>5 yrs</td>
                <td>HTML,CSS</td>
                <td>Google</td>
                <td>California</td>
                <td>9876543210</td>
                <td>Google Office</td>
            </tr>
        </tbody>
    </table>
  </div>
  
</div> -->

                  <div class="table-responsive">
                        <div class="table-scroll">
                          <table class="table table-striped table-hover">
                            <thead class="">
                              <tr>
                                <th scope="col" class="fix-col" >#</th>
                                
                                <th scope="col" class="nom_sousetab fix-col1" >
                                    <span class="tri tri-asc">Sous Etab
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                                       
                                </th>
                                <th scope="col" class="date_creation">
                                    <span class="tri tri-asc">Date de Creation
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                  
                                </th>
                                <th scope="col" class="nom_fondateur">
                                    <span class="tri tri-asc">Nom Fondateur
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span> 
                                   
                                </th>
                                <th scope="col" class="localisation">
                                    <span class="tri tri-asc">Localisation
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                   
                                </th>
                                <th scope="col" class="text-right">
                                  {% if perms.mainapp.can_add_sousetab or perms.mainapp.add_sousetab %}
                                  <button type="button" rel="tooltip" class="btn btn-sm ajouter-eleve-link" data-toggle="modal" data-target="#modal_ajouter_eleve">
                                      <i class="material-icons">person_add</i>
                                  </button>
                                  {% endif %}
                                </th>

                              </tr>
                            </thead>
                            <tbody>
                                {% for sousetablissement in page_active  %}
                                    <tr class="{{ sousetablissement.id }}²²{{ sousetablissement.nom_sousetab }}²²{{ sousetablissement.date_creation }}²²{{ sousetablissement.nom_fondateur }}²²{{ sousetablissement.localisation }}">
                                      <th scope="row" class="detail-eleve-link-td fix-col">{{ forloop.counter }}</th>
                                     
                                      <td class="detail-eleve-link-td fix-col1" style="text-transform: uppercase;">{{ sousetablissement.nom_sousetab }}</td>
                                      <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ sousetablissement.date_creation }}</td>
                                      <td class="detail-eleve-link-td" style="text-transform: capitalize;">{{ sousetablissement.nom_fondateur }}</td>
                                      <td class="detail-eleve-link-td">{{ sousetablissement.localisation}}</td>
                                      <td class="td-actions text-right"> 
<!--                                       {% if perms.mainapp.can_view_etudiant or perms.mainapp.view_etudiant %}                                     
                                        <button rel="tooltip" class="btn detail-eleve-link">
                                            <i class="material-icons">visibility</i>
                                        </button>
                                      {% endif %} -->
                                      {% if perms.mainapp.can_change_sousetab or perms.mainapp.change_sousetab %}
                                        <button rel="tooltip" class="btn modifier-eleve-link">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        {% endif %}

                                        {% if perms.mainapp.can_delete_sousetab or perms.mainapp.delete_sousetab %}
                                        <button class="btn btn-danger supprimer-eleve-link">
                                            <i class="material-icons">close</i>
                                        </button>
                                        {% endif %}

                                      </td>

                                    </tr>

                                    {% empty %}
                                      <tr>
                                        <td colspan="7" class="text-center h4">Aucun sous-etablissement(s) créé(s) </td>
                                      </tr>
                                {% endfor %}

                            </tbody>
                            <tfoot>
                              <tr>
                                <th scope="col" class="fix-col">#</th>
                                <th scope="col" class="fix-col1">Sous Etab</th>
                                <th scope="col">Date de creation</th>
                                <th scope="col">Nom Fondateur</th>
                                <th scope="col">Localisation</th>                              
                                <th scope="col">Actions</th>                              

                              </tr>
                            </tfoot>
                      
                        </table>
                        </div>
                        

                  </div>      

<!--                  <div id="menu-fixed"  class="fixed-plugin">

                          <div class="menu-element" style="margin-top: 5px;margin-bottom: 5px">
                            <img id="settings" src="{% static 'images/settings.png' %}" style="height: 40px; width: 40px;" />
                          </div>

                      </div>

                         -->

                          <!-- <hr> -->
                           <!-- pagination -->
                           {% block pagination %}
                              {% include 'mainapp/layouts/_pagination.html' %}
                          {% endblock %}
                              
                      
                      
                  </div>

                </div>



              </div>
            </div>
          </div>


  <!-- Detail-Dialog box -->
<div class="modal fade" id="modal_detail_eleve" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>

            <div class="modal-body ">
                <div class="card-body card-primary">
                  <p class="h4 text-center">DETAIL SOUS ETABLISSEMENT</p>
                  <form method="post"  class="detail_eleve" action=" ">
                      {% csrf_token %}
                      {{ form.as_p }}

                        <div class="text-center">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Quitter</button>
                       </div>

                  </form>

                </div>
                
            </div>
               
        </div>
    </div>
</div>


  <!-- dialog box ajouter eleve  -->
<div class="modal fade" id="modal_ajouter_eleve" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>
                <div class="modal-body ">
                  <div class="card-body">
                    <p class="h4 text-center">AJOUTER SOUS ETABLISSEMENT</p>
                    <form method="post"  class="" action="{% url 'mainapp:creation_sous_etablissement' %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                         <label id="message"></label><br>
                        <div class="text-center">
                            <button type="submit" class="btn">Créer</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                         </div>
                    </form>

                  </div>
                  
              </div>
   
        </div>
    </div>
</div>



  <!-- dialog box modifier eleve  -->
<div class="modal fade" id="modal_modifier_eleve" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>

            <div class="modal-body ">
              <div class="card-body">
                <p class="h4 text-center">MODIFIER SOUS ETABLISSEMENT</p>
                   <form method="post" class="modifier_eleve" action="{% url 'mainapp:modification_sous_etablissement' %}">
                    {% csrf_token %}
                    {{ form.as_p }}

                      <input type="hidden" name="id_modif" id="id_modif">
                      <div class="text-center">
                        <button type="submit" class="btn">Modifier</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        
                      </div>
                    </form>
              </div>
              
            </div>
                    
        </div>
    </div>
</div>



  <!-- Suppression-Dialog box -->
<div class="modal fade" id="modal_supprimer_eleve" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>
            <div class="modal-body ">
                <div class="card-body card-primary">

                  <form method="post"  class="suppression_eleve" action="{% url 'mainapp:suppression_sous_etablissement' %} ">
                    <p class="h4 text-center">SUPPRIMER SOUS ETABLISSEMENT</p>
                      {% csrf_token %}
                        <input type="hidden" name="id_supp" id="id_supp">

                        <div class="form-group">
                          <label class="">Etablissement : </label>
                          <label class="matricule text-primary"></label>
                        </div>

                        <div class="form-group">
                          <label class="">Date Création : </label>
                          <label class="nom text-primary"></label>
                        </div>

                        <div class="form-group">
                          <label class="">Fondateur : </label>
                          <label class="prenom text-primary"></label>
                        </div>

                        <div class="form-group">
                          <label class="">Localisation : </label>
                          <label class="age text-primary"></label>
                        </div>
                        
                        <div class="card-body">Voulez vous vraiment supprimer?</div>
                        <div class="text-center">
                          <button type="submit" class="btn">OUI</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">NON</button>
                        </div>

                  </form>

                </div>
                
            </div>
               
        </div>
    </div>
</div>


  <!-- input with datetimepicker -->
  <!-- <div class="form-group">
      <label class="label-control">Datetime Picker</label>
      <input type="text" class="form-control datetimepicker" value="21/06/2018"/>
      <input type="date" class="form-control" value="21/06/2018"/>
      <input type="time" class="form-control" value="21/06/2018"/>
  </div>
   -->

  {% endblock %}


{% block menu_fixed %}    
    {% include 'mainapp/layouts/_nav_toolbar_configuration_etablissement.html' %}
{% endblock %}


  {% block script_page %}
    
    <script type="text/javascript">
    $(document).ready(function() {

      var i = 0;
        $(".etab-link").click(function(){
          //alert("message?: DOMString");
            // $(".etab").toggleClass("show");
            if(i%2 == 0)
              $(".etab").css("visibility", "hidden");
            else
              $(".etab").css("visibility", "visible");
            i++;

        });


          $(".theme").click(function(e) {
      
          e.stopImmediatePropagation(); 

          var url_action = $("#changer_theme").attr("class");

          classe = $(this).children("div").attr("class");
          tab_element = classe.split("²²");

          data_color = tab_element[0];
          sidebar_class = tab_element[1];
          theme_class = tab_element[2];

          var donnees = data_color + "²²~~" + sidebar_class + "²²~~" + theme_class;

           $.ajax({
               method: 'POST',
               url: url_action,
               data: {
                 form_data : donnees,
                 csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
               },
               success: themeSucces,
               error: themeError,
           });

    });


     function themeSucces(data){
        console.log(data);

            $(".sidebar").attr("data-color", data.data_color);
            $(".sidebar").removeClass("sidebar-bleu sidebar-violet sidebar-vert sidebar-orange sidebar-rose sidebar-turquoise sidebar-jaune").addClass(data.sidebar_class);

            $(".btn").removeClass("orange vert violet bleu rose jaune turquoise").addClass(data.theme_class);

            $(".moving-tab").removeClass("orange vert violet bleu rose jaune turquoise").addClass(data.theme_class);

            $(".btn-rond").removeClass("orange vert violet turquoise bleu rose jaune").addClass(data.theme_class);

            $(".loader").removeClass("loader_orange loader_vert loader_violet loader_turquoise loader_bleu loader_rose loader_jaune").addClass("loader_" + data.theme_class);

            $("#navbar-top").removeClass("orange vert violet bleu rose jaune turquoise").addClass(data.theme_class);
        
     }

     function themeError(error){
        console.log(error);
     }

    });



    </script>
    
  {% endblock %}