  {% extends 'mainapp/layouts/base-dashbord.html' %}

  {% load i18n static %}

  {% block header %}
      
      <script src="{% static 'js/liste-specialites.js' %}"></script>

      <style type="text/css">
        
        table span:hover, tr:hover{
          cursor: pointer;
        }

    /* no select sur les elemenst th */
        th, td {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
      }

/* 
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF} */





      </style>
      
  {% endblock %}


      {% block language %}
          <form action="/i18n/setlang/" method="post">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{% url 'mainapp:liste_specialites' %}" />
                  
                  <select name="language" onchange="this.form.submit()">
                    {% for lang in LANGUAGES %}
                      {% if LANGUAGE_CODE == lang.0 %}
                        <option value="{{ lang.0 }}" selected>{{ lang.1 }}</option>
                      {% elif LANGUAGE_CODE != lang.0 %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                      }
                      {% endif %}
                    {% endfor %}
                  </select>
          </form>
      {% endblock %}

{% block sidebar %}
    {% include 'mainapp/layouts/_nav_sidebar_configuration.html' %}
{% endblock %}

  {% block content %}
        
          <div class="container-fluid">
            <div class="row">

              <div class="col-md-12">

                <div class="card">
                  
                  <div class="card-body">
                      <div class="row">

                        <div class="col-sm-12 col-md-12">
                          <p class="h3 text-center">Liste specialites</p>
                        </div>

                      </div>

                        <div class="row">

                            <div class="col-sm-12 col-md-8">
                                
                                 <label>Afficher </label> 
                                 <select id="nbre_element_par_page" class="form-control-sm">
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="200">200</option>
                                    <option value="-1">Tout</option>
                                  </select> 
                                  <label>Elements</label> 
                                
                            </div>

                            <div class="col-sm-12 col-md-4">
                              <form action="{% url 'mainapp:recherche_specialite' %}" class="recherche_specialite" method="GET">
                                {% csrf_token %}
                                  <input type="search" placeholder="Entrer votre recherche ici" class="form-control form-control-sm recherche" name="recherche" id="recherche">
                                  <div id="message" ></div>
                              </form>
                              
                            </div>

                        </div>
                        <div class="fixed-btn-add">
                            {% if perms.mainapp.add_specialite %}
                              <button type="button" rel="tooltip" class="cursus-btn-round ajouter-specialite-link" data-toggle="modal" data-target="#modal_ajouter_specialite">
                                  <i class="material-icons text_align-center">add</i>
                              </button>
                            {% endif %}
                        </div>
                        

                  <div class="table-responsive">
                        <div class="table-scroll">
                          <table class="table ">
                            <thead class="">
                              <tr>
                                <th scope="col" class="fix-col" >#
                                      
                                </th>
                                
                                <th scope="col" class="specialite fix-col1 active" >
                                    <span class="tri tri-asc">Specialite
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                                       
                                </th>
                                <th scope="col" class="nom_sousetab">
                                    <span class="tri tri-asc">Sous Etab
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                  
                                </th>
                                <th scope="col" class="nom_etab">
                                    <span class="tri tri-asc">Ecole
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span> 
                                   
                                </th>
                                <th scope="col" class="text-right"><span class="tri tri-asc">Opérations
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span> 
                                </th>

                              </tr>
                            </thead>
                            <tbody>
                               
                                    {% for specialite in page_active  %}
                                    <tr class="{{ specialite.id }}²²{{ specialite.specialite }}²²{{ specialite.nom_sousetab }}²²{{ specialite.nom_etab }}">
                                      <th scope="row" class="detail-specialite-link-td fix-col">{{ forloop.counter }}</th>
                                     
                                      <td class="detail-specialite-link-td fix-col1" style="text-transform: uppercase;">{{ specialite.specialite }}</td>
                                      <td class="detail-specialite-link-td" style="text-transform: uppercase;">{{ specialite.nom_sousetab }}</td>
                                      <td class="detail-specialite-link-td" style="text-transform: capitalize;">{{ specialite.nom_etab }}</td>
                                      <td class="td-actions text-right"> 

                                      <!--{% if perms.mainapp.can_change_specialite or perms.mainapp.change_specialite %}
                                        <button rel="tooltip" class="btn btn-cursus modifier-specialite-link">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        {% endif %} -->

                                        {% if perms.mainapp.can_delete_specialite or perms.mainapp.delete_specialite %}
                                        <button class="btn btn-cursus supprimer-specialite-link">
                                            <i class="material-icons">close</i>
                                        </button>
                                        {% endif %}

                              
                                      </td>

                                    </tr>

                                    {% empty %}
                                      <tr>
                                        <td colspan="7" class="text-center h4">Aucune Spécialité(s) créée(s) </td>
                                      </tr>
                                {% endfor %}

                            </tbody>
                            <tfoot>
                              <tr>
                                <th scope="col" class="fix-col">#</th>
                                <th scope="col" class="fix-col1">Spécialité</th>
                                <th scope="col">Sous Etab</th>
                                <th scope="col">Ecole</th>                             
                                <th scope="col">Actions</th>                              

                              </tr>
                            </tfoot>
                      
                        </table>
                        </div>

                  </div>      
          
                           {% block pagination %}
                              {% include 'mainapp/layouts/_pagination.html' %}
                          {% endblock %}
                              
                      
                      
                  </div>

                </div>



              </div>
            </div>
          </div>


  <!-- Detail-Dialog box -->
<div class="modal fade" id="modal_detail_specialite" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>

            <div class="modal-body ">
                <div class="card-body card-primary">
                  <p class="h4 text-center">DETAIL SPECIALITE</p>
                  <form method="post"  class="detail_specialite" action=" ">
                      {% csrf_token %}
                      {{ form.as_p }}

                        <div class="text-center">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Quitter</button>
                       </div>

                  </form>

                </div>
                
            </div>
               
        </div>
    </div>
</div>


  <!-- dialog box ajouter specialite  -->

<div class="modal fade" id="modal_ajouter_specialite" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>
                <div class="modal-body ">
                  <div class="card-body">
                    <p class="h4 text-center">AJOUTER SPECIALITE</p>
                    <form method="post"  class="" action="{% url 'mainapp:creation_specialite' %}">
                        {% csrf_token %}
                         <div class="input-group form-control-md">
                              <div class="form-group bmd-form-group">
                                Spécialité:
                                <input list="specialities" name="specialite" autocomplete="off">
                                  <datalist id="specialities" name="spec">
                                  {% for spe in specialitess %}
                                    <option value="{{ spe.specialite }}">
                                  {% endfor %}
                              </div>
                        </div>
                        <div class="input-group form-control-md">
                              <div class="form-group bmd-form-group">
                                Etab:
                                <select name="choix_etab" style="width:200px;">
                                  {% for etab in etabs %}
                                    <option value="{{ etab.nom_etab }}_{{etab.id}}">{{ etab.nom_etab }}
                                  {% endfor %}
                                </select>
                              </div>
                        </div>
                        <div class="input-group form-control-md">
                              <div class="form-group bmd-form-group">
                               Sous Etab:
                                <select name="choix_sousetab" style="width:200px;">
                                   <option value="all"> All
                                  {% for setab in sousetabs %}
                                    <option value="{{ setab.nom_sousetab }}_{{setab.id}}">{{ setab.nom_sousetab }}
                                  {% endfor %}
                                </select>
                              </div>
                        </div>

                         <label id="message"></label>
                        <div class="text-center">
                            <button type="submit" class="btn">Créer</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                         </div>
                    </form>

                  </div>
                  
              </div>
   
        </div>
    </div>
</div>

  <!-- dialog box modifier specialite  -->

<div class="modal fade" id="modal_modifier_specialite" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>

          <!--
            <div class="modal-body ">
              <div class="card-body">
                <p class="h4 text-center">MODIFIER SPECIALITE</p>
                   <form method="post" class="modifier_specialite" action="{% url 'mainapp:modification_specialite' %}">
                    {% csrf_token %}
                    {{ form.as_p }}

                      <input type="hidden" name="id_modif" id="id_modif">
                      <div class="text-center">
                        <button type="submit" class="btn">Modifier</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        
                      </div>
                    </form>
              </div>
              
            </div>
             -->       
        </div>
    </div>
</div>



  <!-- Suppression-Dialog box -->

<div class="modal fade" id="modal_supprimer_specialite" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>
            <div class="modal-body ">
                <div class="card-body card-primary">

                  <form method="post"  class="suppression_specialite" action="{% url 'mainapp:suppression_specialite' %} ">
                    <p class="h4 text-center">SUPPRIMER SPECIALITE</p>
                      {% csrf_token %}
                        <input type="hidden" name="id_supp" id="id_supp">

                        <div class="form-group">
                          <label class="">specialite : </label>
                          <label class="specialite"></label>
                        </div>
                        <div class="form-group">
                          <label class="">Sous Etab : </label>
                          <label class="nom_sousetab"></label>
                        </div>

                        <div class="form-group">
                          <label class="">Etab : </label>
                          <label class="nom_etab"></label>
                        </div>
                        
                        <div class="card-body">Voulez vous vraiment supprimer?</div>
                        <div class="text-center">
                          <button type="submit" class="btn">OUI</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">NON</button>
                        </div>

                  </form>

                </div>
                
            </div>
               
        </div>
    </div>
</div>



  <!-- markup -->
  <button class="btn btn-fill" onclick='swal({ title:"Good job!", text: "You clicked the button!", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'>Try me!</button>
      <!-- for more actions that you can use onclick, please check out assets/demo/js/demo.js -->

<button class="btn btn-fill" onclick="demo.showSwal('auto-close')">Try me!<div class="ripple-container"></div></button>


  {% endblock %}

{% block menu_fixed %}    
    {% include 'mainapp/layouts/_nav_toolbar_configuration_etablissement.html' %}
{% endblock %}


  {% block script_page %}

    
  {% endblock %}