  {% extends 'mainapp/layouts/base-dashbord.html' %}

  {% load i18n static %}

  {% block header %}
      
      <script src="{% static 'js/liste-cours.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'css/modal-dialog.css' %}">
      <script src="{% static 'js/modal-dialog.js' %}"></script>
      
      <style type="text/css">
        
        table span:hover, tr:hover{
          cursor: pointer;
        }
        
    /* no select sur les elemenst th */
        th {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
      }


      </style>
      
  {% endblock %}


      {% block language %}
          <form action="/i18n/setlang/" method="post">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{% url 'mainapp:liste_etablissements' %}" />
                  
                  <select name="language" onchange="this.form.submit()">
                    {% for lang in LANGUAGES %}
                      {% if LANGUAGE_CODE == lang.0 %}
                        <option value="{{ lang.0 }}" selected>{{ lang.1 }}</option>
                      {% elif LANGUAGE_CODE != lang.0 %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                      }
                      {% endif %}
                    {% endfor %}
                  </select>
          </form>
      {% endblock %}

{% block sidebar %}
    {% include 'mainapp/layouts/_nav_sidebar_configuration.html' %}
{% endblock %}

  {% block content %}
        
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

                <div class="card">

                  <!-- <div class=" card-nav-tabs card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">library_books</i></div>         
                  </div> -->

                  <div class="card-body">
                      <div class="row">

                        <div class="col-sm-12 col-md-12">
                          <p class="h3 text-center">Liste cours</p>
                        </div>

                      </div>

                        <div class="row">

                            <div class="col-sm-12 col-md-8">
                                
                                 <label>Afficher </label> 
                                 <select id="nbre_element_par_page" class="form-control-sm">
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="200">200</option>
                                    <option value="-1">Tout</option>
                                  </select> 
                                  <label>Elements</label> 
                                
                            </div>

                            <div class="col-sm-12 col-md-4">
                              <form action="{% url 'mainapp:recherche_etablissement' %}" class="recherche_etablissement" method="GET">
                                {% csrf_token %}
                                  <input type="search" placeholder="Entrer votre recherche ici" class="form-control form-control-sm recherche" name="recherche" id="recherche">
                                  <div id="message" ></div>
                              </form>
                              
                            </div>

                        </div>
                        <div class="fixed-btn-add">
                            {% if perms.mainapp.can_add_cours or perms.mainapp.add_cours %}
                              <button type="button" rel="tooltip" class="btn round ajouter-cours-link" data-toggle="modal" data-target="#modal_ajouter_cours">
                                  <i class="material-icons text_align-center">add</i>
                              </button>
                            {% endif %}
                        </div>

                  <div class="table-responsive">

                        <table class="table table-striped table-hover">
                            <thead class="">
                              <tr>
                                <th scope="col" class="fix-col">#</th>
                                
                                <th scope="col" class="nom_etab fix-col1">
                                    <span class="tri tri-asc">Cours
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                                       
                                </th>
                                <th scope="col" class="date_creation">
                                    <span class="tri tri-asc">Code
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                  
                                </th>
                                <th scope="col" class="nom_fondateur">
                                    <span class="tri tri-asc">Classe
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span> 
                                   
                                </th>
                                <th scope="col" class="localisation">
                                    <span class="tri tri-asc">Coefficient
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                   
                                </th>
                                <th scope="col" class="localisation">
                                    <span class="tri tri-asc">Vol. Hebdo.
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                   
                                </th>
                                <th scope="col" class="localisation">
                                    <span class="tri tri-asc">Vol. Annuel
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                   
                                </th>
                                 <th scope="col" class="localisation">
                                    <span class="tri tri-asc">Cycle
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                   
                                </th>
                                <th scope="col" class="localisation">
                                    <span class="tri tri-asc">Sous Etab.
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                   
                                </th>
                                <th scope="col" class="localisation">
                                    <span class="tri tri-asc">Etablissement
                                      <img src="{% static 'images/arrow.png' %}" width="20px" height="20px">
                                    </span>                                   
                                </th>
                                <th scope="col" class="text-right">
                                  Opérations
                                </th>

                              </tr>
                            </thead>
                            <tbody>
                              
                                {% for cours in page_active  %}
                                    <tr class="{{ cours.id }}²²{{ cours.nom_matiere }}²²{{ cours.code_matiere }}²²{{ cours.volume_horaire_hebdo }}²²{{ cours.volume_horaire_annuel }}">
                                      <th scope="row" class="detail-eleve-link-td fix-col">{{ forloop.counter }}</th>
                                     
                                      <td class="detail-eleve-link-td fix-col1" style="text-transform: uppercase;">{{ cours.nom_matiere }}</td>
                                      <td class="detail-eleve-link-td" style="text-transform: uppercase;">{{ cours.code_matiere }}</td>
                                      <td class="detail-eleve-link-td" style="text-transform: capitalize;">
                                            {{ cours.nom_classe }}
                                      
                                      </td>
                                      <td class="detail-eleve-link-td">{{ cours.coef }}</td>
                                      <td class="detail-eleve-link-td">{{ cours.volume_horaire_hebdo }}</td>
                                      <td class="detail-eleve-link-td">{{ cours.volume_horaire_annuel }}</td>
                                      <td class="detail-eleve-link-td">{{ cours.nom_cycle }}</td>
                                      <td class="detail-eleve-link-td">{{ cours.nom_sousetab }}</td>
                                      <td class="detail-eleve-link-td">{{ cours.nom_etab }}</td>
                                      <td class="td-actions text-right"> 
                                      {% if perms.mainapp.can_change_cours or perms.mainapp.change_cours %}
                                        <button rel="tooltip" class="btn modifier-cours-link">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        {% endif %}

                                        {% if perms.mainapp.can_delete_cours or perms.mainapp.delete_cours %}
                                        <button class="btn btn-danger supprimer-cours-link">
                                            <i class="material-icons">close</i>
                                        </button>
                                        {% endif %}

                                      </td>

                                    </tr>

                                    {% empty %}
                                      <tr>
                                        <td colspan="11" class="text-center h4">Aucun(s) Cour(s) créé(s) </td>
                                      </tr>
                                {% endfor %}

                            </tbody>
                            <tfoot>
                              <tr>
                                <th scope="col" class="fix-col">#</th>
                                <th scope="col" class="fix-col1">Cours</th>
                                <th scope="col">Code</th>
                                <th scope="col">Classe</th>
                                <th scope="col">Coefficient</th>
                                <th scope="col">Vol. Hebdo.(h)</th>                              
                                <th scope="col">Vol. Annuel(h)</th>                              
                                <th scope="col">Cycle</th>                              
                                <th scope="col">Sous Etab.</th>                              
                                <th scope="col">Etablissement</th>                              
                                <th scope="col">Opérations</th>                              

                              </tr>
                            </tfoot>
                      
                        </table>

                  </div>      

<!--                  <div id="menu-fixed"  class="fixed-plugin">

                          <div class="menu-element" style="margin-top: 5px;margin-bottom: 5px">
                            <img id="settings" src="{% static 'images/settings.png' %}" style="height: 40px; width: 40px;" />
                          </div>

                      </div>

                         -->

                          <!-- <hr> -->
                           <!-- pagination -->
                           {% block pagination %}
                              {% include 'mainapp/layouts/_pagination.html' %}
                          {% endblock %}
                              
                      
                      
                  </div>

                </div>



              </div>
            </div>
          </div>


  <!-- Detail-Dialog box -->
<!--     <div class="modal fade" id="modal_detail_eleve" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>

            <div class="modal-body ">
                <div class="card-body card-primary">
                  <p class="h4 text-center">DETAIL ELEVE</p>
                  <form method="post"  class="detail_eleve" action=" ">
                      {% csrf_token %}
                      {{ form.as_p }}

                        <div class="text-center">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Quitter</button>
                       </div>

                  </form>

                </div>
                
            </div>
               
        </div>
    </div>
</div>
 -->


  <!-- dialog box ajouter eleve  -->
<!-- <div class="modal fade" id="modal_ajouter_cours" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>
                <div class="modal-body ">
                  <div class="card-body">
                    <p class="h4 text-center">AJOUTER COURS</p>
                    <form method="post"  class="" action="{% url 'mainapp:creation_etudiant' %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="row">

                            <div class="col-md-6 col-sm-12">
                              <div class="form-group bmd-form-group label-group">
                
                                <select id="ajout_groupe_liste_profil" class="ajout_groupe_liste_profil form-control" name="ajout_groupe_liste_profil">

                                  {% for classe in classes %}
                                      <option value="{{ classe.id }}">{{ classe.nom_classe }}</option>
                                    {% endfor %}
                                </select>
                              </div>
                              
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group bmd-form-group">
                                  <select id="ajout_groupe_liste_profil" class="ajout_groupe_liste_profil form-control" name="ajout_groupe_liste_profil">

                                      {% for etab in etabs %}
                                        <option value="{{ etab.id }}">{{ etab.nom_etab }}</option>
                                      {% endfor %}
                                  </select>
                              </div>

                            </div>

                  </div>

                         <label id="message"></label><br>
                        <div class="text-center">
                            <button type="submit" class="btn">Créer</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                         </div>
                    </form>

                  </div>
                  
              </div>
   
        </div>
    </div>
</div> -->


   <div class="modal fade" id="modal_ajouter_cours">
     <div class="modal-dialog modal-lg1">
       <div class="modal-content card card-nav-tabs">
         <div class="card-nav-tabs card-header-primary card-header-icon">
           
         </div>
         <div class="modal-body">
           <div class="card-body card-primary">
             
            <div class="wizard-container">
                  <h3 class=" text-center">
                    Creation d'un cours
                  </h3>
              <div class="card card-wizard " data-color="rose" id="wizardProfile">

                <div class=" text-center">
                    
                    <!-- <h5 class="card-description">This information will let us</h5> -->
                </div>

                <form method="post"  class="" action="{% url 'mainapp:creation_cours' %}" novalidate="novalidate">
                  <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                   {% csrf_token %}
                  <div class="wizard-navigation" id="wizard-navigation">
                      <ul class="nav nav-pills" >
                        <li class="nav-item" style="width: 50%;">
                          <a class="nav-link active show" href="#about" data-toggle="tab" role="tab" aria-selected="true">
                             classe
                          </a>
                        </li>
                        <li class="nav-item" style="width: 50%;">
                          <a class="nav-link" href="#account" data-toggle="tab" role="tab" aria-selected="false">
                            cours
                          </a>
                        </li>
                        
                      </ul>
                      <div class="moving-tab" style="width: 207px; transform: translate3d(-8px, 0px, 0px); transition: transform 0s ease 0s;">
                             classe
                            
                      </div>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="about">
                        <!-- <h5 class="info-text"> Let's start with the basic information (with validation)</h5> -->
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-md-6">
                              <div class="form-group bmd-form-group">
                                
                                <select id="" class="nom_etab form-control" name="nom_etab">
                              
                                        {% for etab in etabs %}
                                          <option value="{{ etab.id }}²²~~{{ etab.nom_etab }}">{{ etab.nom_etab }}</option>
                                        {% endfor %}
                                  </select>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-6">        
                                <div class="form-group bmd-form-group">
                                  
                                  <select id="" class="nom_sousetab form-control" name="nom_sousetab">

                                        {% for sousetab in sousetabs %}
                                          <option value="{{ sousetab.id }}²²~~{{ sousetab.nom_sousetab }}">{{ sousetab.nom_sousetab }}</option>
                                        {% endfor %}
                                  </select>
                                </div>          
                            </div>
                        </div>                        
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-md-6">
                              <div class="form-group bmd-form-group">
                                
                                <select id="" class="nom_cycle form-control" name="nom_cycle">
                              
                                        {% for cycl in cycles %}
                                          <option value="{{ cycl.id }}²²~~{{ cycl.nom_cycle }}">{{ cycl.nom_cycle }}</option>
                                        {% endfor %}
                                  </select>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-6">        
                                <div class="form-group bmd-form-group">
                                  
                                  <select id="" class="nom_classe form-control" name="nom_classe">

                                        {% for classe in classes %}
                                          <option value="{{ classe.id }}²²~~{{ classe.nom_classe }}">{{ classe.nom_classe }}</option>
                                        {% endfor %}
                                  </select>
                                </div>          
                            </div>
                        </div>
                      </div>

                      <div class="tab-pane" id="address">
                        <div class="row justify-content-center">
                          <div class="col-sm-6">
                            <div class="nom_matiere form-group bmd-form-group">
                               <select id="" class="nom_matiere form-control" name="nom_matiere">

                                        {% for matiere in matieres %}
                                          <option value="{{ matiere.id }}²²~~{{ matiere.nom_matiere }}">{{ matiere.nom_matiere }}</option>
                                        {% endfor %}
                                  </select>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="code_matiere form-group bmd-form-group">
                               <label for="code" class="bmd-label-floating" name="code_matiere">Code</label>
                              {{form.code_matiere}}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="coef form-group bmd-form-group">
                               <label for="coef" class="bmd-label-floating">Coef</label>
                              {{form.coef}}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="volume_horaire_hebdo form-group bmd-form-group">
                               <label for="hebdo" class="bmd-label-floating">Volume Hebdo</label>
                              {{form.volume_horaire_hebdo}}
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="volume_horaire_annuel form-group bmd-form-group">
                               <label for="annuel" class="bmd-label-floating">Volume Annuel</label>
                              {{form.volume_horaire_annuel}}
                            </div>
                          </div>
                          <!-- <div class="col-sm-5">
                            <div class="form-group select-wizard">
                              <label>Country</label>
                              <div class="dropdown bootstrap-select"><select class="selectpicker" data-size="7" data-style="select-with-transition" title="Single Select" tabindex="-98"><option class="bs-title-option" value=""></option>
                                <option value="Afghanistan"> Afghanistan </option>
                                <option value="Albania"> Albania </option>
                                <option value="Algeria"> Algeria </option>
                                <option value="American Samoa"> American Samoa </option>
                                <option value="Andorra"> Andorra </option>
                                <option value="Angola"> Angola </option>
                                <option value="Anguilla"> Anguilla </option>
                                <option value="Antarctica"> Antarctica </option>
                              </select><button type="button" class="btn dropdown-toggle bs-placeholder select-with-transition" data-toggle="dropdown" role="button" title="Single Select"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Single Select</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                            </div>
                          </div> -->
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn">Créer</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                         </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="mr-auto">
                      <input type="button" id="previous-navigation" class="btn navigation btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                    </div>
                    <div class="ml-auto">
                      <input type="button" id="next-navigation" class="btn navigation level btn-rose btn-wd" name="next" value="Next" style="">
                      <input type="button"  class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish" style="display: none;">
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>

           </div>
         </div>
       </div>
     </div>
   </div>

  <!-- dialog box modifier eleve  -->
<!--     <div class="modal fade" id="modal_modifier_eleve" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>

            <div class="modal-body ">
              <div class="card-body">
                <p class="h4 text-center">MODIFIER ELEVE</p>
                   <form method="post" class="modifier_eleve" action="{% url 'mainapp:modification_etudiant' %}">
                    {% csrf_token %}
                    {{ form.as_p }}

                      <input type="hidden" name="id_modif" id="id_modif">
                      <div class="text-center">
                        <button type="submit" class="btn">Modifier</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        
                      </div>
                    </form>
              </div>
              
            </div>
                    
        </div>
    </div>
</div> -->



  <!-- Suppression-Dialog box -->
<!--     <div class="modal fade" id="modal_supprimer_eleve" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-nav-tabs">
            <div class=" card-nav-tabs card-header-primary card-header-icon">
              <div class="card-icon"><i class="material-icons">library_books</i></div>          
            </div>
            <div class="modal-body ">
                <div class="card-body card-primary">

                  <form method="post"  class="suppression_eleve" action="{% url 'mainapp:suppression_etudiant' %} ">
                    <p class="h4 text-center">SUPPRIMER ELEVE</p>
                      {% csrf_token %}
                        <input type="hidden" name="id_supp" id="id_supp">

                        <div class="form-group">
                          <label class="">Matricule : </label>
                          <label class="matricule text-primary"></label>
                        </div>

                        <div class="form-group">
                          <label class="">Nom : </label>
                          <label class="nom text-primary"></label>
                        </div>

                        <div class="form-group">
                          <label class="">Prenom : </label>
                          <label class="prenom text-primary"></label>
                        </div>

                        <div class="form-group">
                          <label class="">Age : </label>
                          <label class="age text-primary"></label>
                        </div>
                        
                        <div class="card-body">Voulez vous vraiment supprimer?</div>
                        <div class="text-center">
                          <button type="submit" class="btn">OUI</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">NON</button>
                        </div>

                  </form>

                </div>
                
            </div>
               
        </div>
    </div>
</div> -->


  <!-- input with datetimepicker -->
  <!-- <div class="form-group">
      <label class="label-control">Datetime Picker</label>
      <input type="text" class="form-control datetimepicker" value="21/06/2018"/>
      <input type="date" class="form-control" value="21/06/2018"/>
      <input type="time" class="form-control" value="21/06/2018"/>
  </div>
   -->


  <!-- markup -->
  <button class="btn btn-fill" onclick='swal({ title:"Good job!", text: "You clicked the button!", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'>Try me!</button>
      <!-- for more actions that you can use onclick, please check out assets/demo/js/demo.js -->

<button class="btn btn-fill" onclick="demo.showSwal('auto-close')">Try me!<div class="ripple-container"></div></button>


  {% endblock %}

{% block menu_fixed %}    
    {% include 'mainapp/layouts/_nav_toolbar_configuration_cours.html' %}
{% endblock %}


  {% block script_page %}
    
    
  {% endblock %}