{% extends 'mainapp/layouts/base-accueil.html' %}

{% load static %}

{% block menu %} {% include 'mainapp/layouts/_nav_login.html' %} {% endblock %}



    {% block page %}
    <div class="page-header header-filter" filter-color="black" style="background-image: url({% static 'assets/img/background-accueil-2.jpg'%}); background-size: cover; background-position: center center;">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
<br>
          {% block contenu %}
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                <form class="form" method="post" action="{% url 'mainapp:login' %}">
                  {% csrf_token %}
                  <div class="card card-login card-hidden">
                    <div class="card-header card-header-rose text-center">
                      <h4 class="card-title h3">Login</h4>
                      Connectez-vous avec votre<a href="#pablo" class="btn btn-just-icon btn-link btn-white btn-lg">
                          <i class="material-icons">smartphone</i></a>

                    </div>
                    <div class="card-body ">
                       <p class="card-description text-center">Ou faites classique</p>
                       <p class="card-description text-center text-danger">{{ errors }}</p>
                      <span class="bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" placeholder="Pseudo..." name="username">
                        </div>
                      </span>

                      <span class="bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input type="password" class="form-control" placeholder="Mot de passe..." name="password">
                        </div>
                      </span>
                    </div>
                    <div class="card-footer justify-content-center">
                      
                      <button class="btn btn-rose btn-round">Lets Go</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          {% endblock %}

      </div>
<footer></footer>
    </div>

    {% endblock %}




       